<h3><strong>Orders</strong></h3>

<div class="inner-addon left-addon filterInput">
    <i class="fa fa-filter"></i>
    <input type="text" class="form-control" placeholder="Filter..." ng-model="query" />
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Order Name</th>
      <th>Date</th>
      <th>Source</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="order in orders | filter:search" ng-click="go('/patients/{{patient.id}}/orders/{{$index}}')" ng-class="{info: selected($index)}">
      <td>{{order.name }}</td>
      <td class="dateTime">{{order.date}}</td>
      <td>openehr</td>
    </tr>

    <tr ng-if="!orders.length">
      <td colspan="4"><span class="label label-default">No orders</span></td>
    </tr>
  </tbody>
</table>

<div class="text-right">
  <button class="btn btn-info" ng-click="create();"><i class="fa fa-plus"></i> Create</button>
</div>
