<h3><strong>Appointments</strong></h3>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Date of App.</th>
      <th>Time</th>
      <th>Care Service Team</th>
      <th>Source</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="appointment in appointments" ng-click="go({{$index}})" ng-class="{info: selected($index)}">
      <td>{{ appointment.date }}</td>
      <td>{{ appointment.time }}</td>
      <td>{{ appointment.careServiceTeam}}</td>
      <td>{{ apointment.source }}</td>
    </tr>

    <tr ng-if="!appointments.length">
      <td colspan="4"><span class="label label-default">No appointments</span></td>
    </tr>
  </tbody>
</table>

<div class="text-right">
  <button class="btn btn-info" ng-click="create();"><i class="fa fa-plus"></i> Create</button>
</div>
