<div class="transbox">
    <div class="innerTransbox">
<h3><strong>Appointment </strong></h3>

<div class="form-horizontal text-left">
    <div class="form-group form-group-sm">
      <label class="control-label col-md-3">Care Service Team:</label>
      <div class="col-md-9">
        <div class="form-control-static">{{ appointment.careServiceTeam  }}</div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-3">Date of Appointment:</label>
      <div class="col-md-9">
        <div class="form-control-static">{{ appointment.dateOfAppointment  | date:'dd-MMM-y' }}</div>
      </div>
    </div>

   <div class="form-group form-group-sm">
      <label class="control-label col-md-3">Time of Appointment:</label>
      <div class="col-md-9">
        <div class="form-control-static">{{ timeSlotFull }}</div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-3">Status:</label>
      <div class="col-md-9">
        <div class="form-control-static">{{ appointment.status  }}</div>
      </div>
    </div>
    
        <div class="form-group form-group-sm">
      <label class="control-label col-md-3">Location:</label>
      <div class="col-md-9">
        <div class="form-control-static">{{appointment.location}}</div>
      </div>
    </div>
    
    <div class="form-group form-group-sm">
      <label class="control-label col-md-3">Author:</label>
      <div class="col-md-9">
        <div class="form-control-static">{{ appointment.author  }}</div>
      </div>
    </div>
    
        <div class="form-group form-group-sm">
      <label class="control-label col-md-3">Date Created:</label>
      <div class="col-md-9">
        <div class="form-control-static">{{ appointment.dateCreated  | date:'dd-MMM-y'}}</div>
      </div>
    </div>
    </div>
    </div>
</div>
<div class="form-group form-group-sm text-right">
  <button class="btn btn-info" ng-click="edit();"><i class="fa fa-pencil"></i> Edit</button>
</div>