<div class="modal-body">    
            <legend>Confirm Date</legend>
        <div class="row confirm-modal-row">
            <div class="col-md-5 col-md-offset-1"><label>Date:</label></div>
            <div class="col-md-6">{{time | date:'dd-MMM-yyyy'}}</div>
        </div>  
         <div class="row">
            <div class="col-md-5 col-md-offset-1"><label>Time Slot:</label></div>
            <div class="col-md-6">{{time | date:'HH:mm'}} - {{time | date:'HH:59'}}</div>
        </div> 
    </div>
<div class="modal-footer">
   <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="ok();"><i class="fa fa-check"></i> Confirm</button>
</div>
