<div class="modal-header">
    <h4 class="modal-title">{{ modal.title}}</h4>
</div>

<div class="modal-body">

    <div class="col-md-12 modalBanner">
        <div class="col-md-12 modalBannerUpper">{{ patient.name[0].prefix[0]}} {{ patient.name[0].given[0]}} {{ patient.name[0].family[0]}}</div>
        <div class="col-md-4 modalBannerLower">DOB: <b>{{ patient.birthDate | date:'dd-MMM-yyyy' }}</b></div>
        <div class="col-md-3 modalBannerLower">Gender: <b>{{ patient.gender | uppercase }}</b></div>
        <div class="col-md-5 modalBannerLower">NHS No. <b><span ng-bind="patientNhsNumber | formatNHSNumber"></span></b></div>
        <div class="col-md-12 modalBannerLower">Address: <b>{{ patient.address[0].text}}</b></div>
    </div>

    <form name="appointmentCreateForm" class="form-horizontal text-left">

        <div class="col-md-12 appointmentFormSection">
            <div>
                <label>Practitioner:</label> {{ practitionerName}}
            </div>
            <div>
                <label>Type:</label> {{ appointmentCreate.type.text}}
            </div>
        </div>

        <div class="col-md-12 appointmentFormSection">
            <div>
                <label>Start Date & Time:</label> {{ appointmentCreate.start | amDateFormat:'DD-MMM-YYYY HH:mm' }}
            </div>
            <div>
                <label>End Date & Time:</label> {{ appointmentCreate.end | amDateFormat:'DD-MMM-YYYY HH:mm' }}
            </div>
        </div>

        <div class="col-md-12 appointmentFormSection">
            <div>
                <label>Practice:</label> {{ practiceName}}
            </div>
            <div>
                <label>Location:</label> {{ locationName}}
            </div>
        </div>

        <div class="col-md-12 appointmentFormSection">
            <div><label>Comment</label></div>
            <textarea name="comment" id="appointmentComment" ng-model="appointmentCreate.comment"></textarea>
        </div>

    </form>
</div>

<div class="col-md-12">
    <div class="col-md-12 alert alert-danger" ng-show="validationError" >{{ validationError}}</div>
</div>

<div class="modal-footer">
    <a class="btn btn-danger" ng-click="cancel()">Cancel</a>
    <button class="btn btn-success" ng-click="formSubmitted = true;
        ok(appointmentCreateForm);"><i class="fa fa-check"></i> Book Appointment</button>
</div>

<div class="row">
    <div class="col-md-12">
        <span class="appointmentCreate-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="appointmentCreate-spinner" spinner-start-active="false"></span>
    </div>
</div>