<div class="modal-header">
    <h4 class="modal-title">Cancel Appointment</h4>
</div>

<div class="modal-body">
    <form name="appointmentCancelForm" class="form-horizontal text-left">

        <div class="form-group form-group-sm">
            <label class="control-label col-md-3">Practitioner</label>
            <div class="col-md-9">
                {{ appointmentCancel.practitionerName}}
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="control-label col-md-3">Type</label>
            <div class="col-md-9">
                {{ appointmentCancel.appointmentResource.resource.type.text}}
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="control-label col-md-3">Start Date & Time</label>
            <div class="col-md-9">
                {{ appointmentCancel.appointmentResource.resource.start | amDateFormat:'DD-MMM-YYYY HH:mm' }}
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="control-label col-md-3">End Date & Time</label>
            <div class="col-md-9">
                {{ appointmentCancel.appointmentResource.resource.end | amDateFormat:'DD-MMM-YYYY HH:mm' }}
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="control-label col-md-12">Cancellation Reason</label>
            <div class="col-md-12">
                <textarea ngRequired="true" class="col-md-12" name="cancelReason" id="cancelReason" ng-model="appointmentCancel.appointmentResource.resource.modifierExtension[cancelReasonIndex].valueString"></textarea>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <div class="col-md-12">
                <div class="col-md-12 alert alert-danger" ng-show="validationError" >{{ validationError }}</div>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <a class="btn btn-success" ng-click="close()">Close</a>
    <button class="btn btn-danger" ng-click="formSubmitted = true; cancelAppointment(appointmentCancelForm);">Cancel Appointment</button>
</div>

<div class="row">
    <div class="col-md-12">
        <span class="appointmentCancel-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="appointmentCancel-spinner" spinner-start-active="false"></span>
    </div>
</div>