<div class="modal-header">
    <h4 class="modal-title">Available Appointments</h4>
</div>

<div class="modal-body">

	<div>
			<button class="btn" ng-repeat="location in scheduleModel.locations" ng-click="onSelectLocation(location.name)">{{location.name}}</button>
	</div>
	<p>
	<div>
			<div ng-if="selectedLocation == null">
				No selection made
			</div>
	
			<ul ng-if="selectedLocation !== null" class="nav nav-pills nav-stacked col-sm-1">
				<li ng-repeat="day in selectedLocation.dayBlockOfSlots" ng-class="{active:isDaySelected(day.date)}" ><a ng-href="#" ng-click="onSelectDay(day.date)">{{day.dayOfWeek}}</a></li>
			</ul>
	</div>

</div>

<div class="modal-footer">
  <a class="btn btn-danger" ng-click="cancel()">Cancel</a>
</div>