<div class="modal-header">
    <h4 class="modal-title">{{ modal.title}}</h4>
</div>

<div class="modal-body">
    <form name="appointmentSearchForm" class="form-horizontal text-left">

		<div ng-show="endDateInvalid" class="alert alert-danger" role="alert">The current start date invalidated the previous end date. Please select a new end date.</div>
		
        <div class="col-md-12 appointmentFormSection">
            <div class="appointmentFormHeading">
                <strong>Please specify a date range:</strong>
            </div>

            <div class="col-md-6">
                <div class="col-md-12">
                    <label for="startDate">From:</label>
                </div>
                <div class="col-md-12">
                    <div class="col-md-10 input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" ng-click="openDatePicker($event, 'startDate')">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                        <input type="text" class="form-control input-sm popupinputs" id="startDate" name="startDate"
                               ng-model="appointmentSearch.startDate" ng-click="openDatePicker($event, 'startDate')"
                               datepicker-popup="dd-MMM-y" min-date="minStartDate" is-open="startDate" required/>
                    </div>
                </div>
                <div class="col-md-12">
                    <span class="help-block animate-fade" ng-show="formSubmitted && appointmentSearchForm.startDate.$error.required">You must enter a valid start date.</span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-12">
                    <label for="endDate">Until:</label>
                </div>
                <div class="col-md-12">
                    <div class="col-md-10 input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" ng-click="openDatePicker($event, 'endDate')" ng-disabled="!appointmentSearch.startDate">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                        <input type="text" class="form-control input-sm popupinputs" id="endDate" name="endDate"
                               ng-model="appointmentSearch.endDate" ng-click="openDatePicker($event, 'endDate')"
                               datepicker-popup="dd-MMM-y" min-date="minEndDate" max-date="maxEndDate" is-open="endDate" required 
                               ng-disabled="!appointmentSearch.startDate"/>
                    </div>
                </div>
                <div class="col-md-12">
                    <span class="help-block animate-fade" ng-show="formSubmitted && appointmentSearchForm.endDate.$error.required">You must enter a valid end date.</span>
                </div>
            </div>

        </div>
        <div class="col-md-12 appointmentFormSection">
            <div class="appointmentFormHeading">
                <strong>Primary Practice:</strong>
            </div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <input type="checkbox" id="primaryPracticeCheck"  name="primaryPracticeCheck" ng-model="appointmentSearch.primaryPractice.checked" ng-checked="true">
                    <label for="primaryPracticeCheck">{{appointmentSearch.primaryPractice.name}}</label>
                </div>
            </div>

        </div>
        <div class="col-md-12 appointmentFormSection">
            <div class="appointmentFormHeading">
                <strong>Federated Practice(s):</strong>
            </div>
            <div class="col-md-12">
                <div class="col-md-5" ng-repeat="practice in appointmentSearch.federatedPractices">
                    <input type="checkbox" id="{{practice.name}}" name="{{practice.name}}" ng-model="practice.checked" >
                    <label for="{{practice.name}}">{{practice.name}}</label>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <a class="btn btn-danger" ng-click="cancel()">Cancel</a>
    <button class="btn btn-success" ng-click="formSubmitted = true;
      ok(appointmentSearchForm);"><i class="fa fa-check"></i> Search</button>
</div>
