<div class="modal-header">
    <h4 class="modal-title">Create Patient</h4>
</div>

<div class="modal-body">
    <div class='modalDiv'>The patient '{{ patientDetails.name[0].prefix[0]}} {{ patientDetails.name[0].given[0]}} {{ patientDetails.name[0].family}}' currently does not have a patient record on the '{{ appointmentBooking.location.practiceName}}' system.</div>

    <div class='modalDiv'>To book an appointment a patient record will need to be create on the GP practices system. Would you like to create a temporary patient on the '{{ appointmentBooking.location.practiceName}}' system in order to continue and book the selected appointment?</div>
</div>

<div class="col-md-12">
    <div class="col-md-12 alert alert-danger" ng-show="validationError" >{{ validationError }}</div>
</div>

<div class="modal-footer">
    <a class="btn btn-danger" ng-click="cancel()">Cancel</a>
    <button class="btn btn-success" ng-click="ok()">Create Patient</button>
</div>

<div class="row">
    <div class="col-md-12">
        <span class="patientCreate-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="patientCreate-spinner" spinner-start-active="false"></span>
    </div>
</div>