<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>IDCR POC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/morrisjs/morris.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/jquery-timepicker-jt/jquery.timepicker.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/sb-admin-2.css" />
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/heroweb/hero-demo.css -->
    <link rel="stylesheet" href="styles/heroweb/hero-demo.css" />
    <link rel="stylesheet" href="styles/heroweb/hero-stylesheet.css" />
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/foundation-icons//foundation-icons.css -->
    <link rel="stylesheet" href="styles/foundation-icons/foundation-icons.css" />
    <!-- endbuild -->

  </head>
  <body ng-app="openehrPocApp" ng-controller="headerController">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

      <!-- Header -->
      <div class="row header-background hidden-xs">
        <div class="col-md-4 col-sm-4 header-left">
            <div class="glyphs g"><p class="header-title-1" ng-if="title"><img src="images/ripple-icon.png" alt="Ripple Icon" class="ripple-icon" ng-click="goHome()"> {{title}}</p></div>
        </div>

        <div class="col-md-4 col-sm-3 header-search">
          <div class="search-left-inner-addon">
            <i class="fi-magnifying-glass icon-searchbar"></i>
            <input type="search"
                   class="form-control"
                   placeholder="Search..."/>
          </div>
        </div>

        <div class="col-md-4 col-sm-5 header-right">
          <!-- User Profile -->
          <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown-profile">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span>
                  <span class="header-title-3">Demonstration</span>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="navbar-login">
                      <div class="row">
                        <div class="col-md-4 col-sm-4">
                          <div class="user-profile-image"><i class="glyphicon glyphicon-user"></i></div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                          <p class="dropdown-profile-text"><b>User Name</b></p>
                          <p class="dropdown-profile-text"><b>{{currentUser.role}}</b></p>
                          <p class="dropdown-profile-text"> {{currentUser.email}} </p>
                          <p class="dropdown-profile-text">10/05/2099</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <div class="navbar-login navbar-login-session">
                      <div class="row">
                        <div class="col-lg-12">
                          <p>
                            <a href="https://ripple-identity-uat.answerappcloud.com/signout" class="btn btn-danger btn-block">Sign Out</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.User Profile -->
        </div>
      </div>
      <!-- /.Header -->

      <!-- Header mobile -->
      <div class="row header-background-mobile visible-xs">
        <div class="col-xs-12 header-left-mobile">
          <div class="glyphs g"><p class="header-title-1" ng-if="title"><img src="images/ripple-icon.png" alt="Ripple Icon" class="ripple-icon" ng-click="goHome()"> {{title}}</p></div>﻿
        </div>

        <div class="col-xs-12 header-right-mobile">
          <!--<span class="glyphicon glyphicon-user"></span>
          <span>Demonstration</span> -->

          <!-- User Profile -->
          <div class="navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown-profile">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span>
                  <span class="header-title-3">Demonstration</span>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="navbar-login">
                      <div class="row">
                        <div class="col-xs-4">
                          <div class="user-profile-image"><i class="glyphicon glyphicon-user"></i></div>
                        </div>
                        <div class="col-xs-8">
                          <p class="dropdown-profile-text"><b>User Name</b></p>
                          <p class="dropdown-profile-text"><b>{{currentUser.role}}</b></p>
                          <p class="dropdown-profile-text"> {{currentUser.email}} </p>
                          <p class="dropdown-profile-text">10/05/2099</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <div class="navbar-login navbar-login-session">
                      <div class="row">
                        <div class="col-lg-12">
                          <p>
                            <a href="https://ripple-identity-uat.answerappcloud.com/signout" class="btn btn-danger btn-block">Sign Out</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.User Profile -->
        </div>

        <div class="col-xs-12 header-search-mobile">
          <div class="search-left-inner-addon">
            <i class="fi-magnifying-glass icon-searchbar"></i>
            <input type="search"
                   class="form-control"
                   placeholder="Search..." />
          </div>
        </div>
      </div>
      <!-- /.Header mobile -->

      <!-- Header toolbar -->
      <div class="row header-toolbar hidden-xs">
        <div class="col-sm-4 col-offset-1 previousGroup">
          <span class="glyphicon glyphicon-arrow-left previous-page-arrow" ng-if="previousPage && currentUser.role=='idcr'" ng-click="goBack()"></span>
          <span class="previous-page-title" ng-if="previousPage && currentUser.role=='idcr'">{{previousPage}}</span>

        </div>
        <div class="col-sm-7">
          <span class="current-page-title">{{pageHeader}}</span>
        </div>
      </div>
      <!-- /.Header toolbar -->

      <!-- Header toolbar mobile -->
      <div class="row header-toolbar visible-xs">
        <div class="col-xs-2">
          <span class="glyphicon glyphicon-arrow-left previous-page-arrow" ng-if="previousPage && currentUser.role=='idcr'" ng-click="goBack()"></span>
        </div>
        <div class="col-xs-8 current-page-title-mobile">
          <span>{{pageHeader}}</span>
        </div>
      </div>
      <!-- /.Header toolbar mobile-->

        <!-- Sidebar-->
        <div class="wrapper navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul side-menu class="nav" ui-view="actions"></ul>
                </div>
        </div>
      <!-- /.Sidebar-->

      <!-- /page-wrapper -->
        <div ng-class="actionsExists ? 'page-wrapper' : 'page-wrapper-off'">
            <div class="section-north" ui-view="user-context" ng-if=(userContextViewExists)></div>

            
            <div class="section section-content">
              <div class="row section-row">
                <div class="col-md-{{mainWidth}} col-left">
                  <div class="section-main" ui-view="main"></div>
                </div>       
                <div class="col-md-{{detailWidth}} col-right">
                  <div class="section-detail" ui-view="detail"></div>
                </div>
              </div>
            </div>
        </div>
      <!-- /.#page-wrapper -->
      <!-- /.#page-wrapper -->

    <div class="notifications" growl-notifications></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/raphael/raphael.js"></script>
    <script src="bower_components/mocha/mocha.js"></script>
    <script src="bower_components/morrisjs/morris.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-growl-notifications/dist/angular-growl-notifications.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jquery-timepicker-jt/jquery.timepicker.js"></script>
    <script src="bower_components/angular-jquery-timepicker/src/timepickerdirective.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/patient.js"></script>
        <script src="scripts/services/diagnosis.js"></script>
        <script src="scripts/services/allergy.js"></script>
        <script src="scripts/services/medication.js"></script>
        <script src="scripts/services/contact.js"></script>
        <script src="scripts/services/smsp-lookup.js"></script>
        <script src="scripts/services/transfer-of-care.js"></script>
        <script src="scripts/services/cancer-mdt.js"></script>
        <script src="scripts/services/appointment.js"></script>
        <script src="scripts/services/referral.js"></script>
        <script src="scripts/services/eolcareplans.js"></script>
        <script src="scripts/services/procedure.js"></script>
        <script src="scripts/services/dateFormatter.js"></script>
        <script src="scripts/models/patient.js"></script>
        <script src="scripts/controllers/patients-list.js"></script>
        <script src="scripts/controllers/header-controller.js"></script>
        <script src="scripts/controllers/patients-charts.js"></script>
        <script src="scripts/controllers/patients-lookup.js"></script>
        <script src="scripts/controllers/patients-summary.js"></script>
        <script src="scripts/controllers/patients-detail.js"></script>
        <script src="scripts/controllers/diagnoses-list.js"></script>
        <script src="scripts/controllers/diagnoses-detail.js"></script>
        <script src="scripts/controllers/diagnoses-modal.js"></script>
        <script src="scripts/controllers/allergies-list.js"></script>
        <script src="scripts/controllers/allergies-detail.js"></script>
        <script src="scripts/controllers/allergies-modal.js"></script>
        <script src="scripts/controllers/medications-list.js"></script>
        <script src="scripts/controllers/medications-detail.js"></script>
        <script src="scripts/controllers/medications-modal.js"></script>
        <script src="scripts/controllers/contacts-list.js"></script>
        <script src="scripts/controllers/contacts-detail.js"></script>
        <script src="scripts/controllers/contacts-modal.js"></script>
        <script src="scripts/controllers/transfer-of-care-modal.js"></script>
        <script src="scripts/controllers/transfer-of-care-list.js"></script>
        <script src="scripts/controllers/transfer-of-care-detail.js"></script>
        <script src="scripts/controllers/cancer-mdt-modal.js"></script>
        <script src="scripts/controllers/cancer-mdt-list.js"></script>
        <script src="scripts/controllers/cancer-mdt-detail.js"></script>
        <script src="scripts/controllers/appointments-modal.js"></script>
        <script src="scripts/controllers/appointments-list.js"></script>
        <script src="scripts/controllers/appointments-detail.js"></script>
        <script src="scripts/controllers/referrals-modal.js"></script>
        <script src="scripts/controllers/referrals-list.js"></script>
        <script src="scripts/controllers/referrals-detail.js"></script>        
        <script src="scripts/controllers/eolcareplans-modal.js"></script>
        <script src="scripts/controllers/eolcareplans-list.js"></script>
        <script src="scripts/controllers/eolcareplans-detail.js"></script>        
        <script src="scripts/controllers/procedures-modal.js"></script>
        <script src="scripts/controllers/procedures-list.js"></script>
        <script src="scripts/controllers/procedures-detail.js"></script>


    <!-- endbuild -->
</body>
</html>
