html, body, #wrapper, #page-wrapper, .section-content {
  height: 100%;

}

body {
  background: url('../images/site-bg2.png') center 100px no-repeat #ffffff;
  background-size: 100% auto;
}

textarea {
  resize: vertical;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* Global Styles */s
a,
a:hover,
a:focus,
a:active {
  color: #283536;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
}

/* Index */
.section {
  padding-right: 15px;
  padding-left: 15px;
}

.section-north {
  min-height: 74px;
  border: 1px solid #fff;
  border-bottom: 1px solid #e7e7e7;
}

#page-wrapper {
  padding: 0;
  min-height: 0;
}

.section-north h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-right {
  border-right: 1px solid #e7e7e7;
  overflow-y: scroll;
  height: 100%;
}

.col-left {
  overflow-y: scroll;
  height: 100%;
}

.section-main, .section-detail {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 568px;
}

.section-row {
  height: 100%;
}

tr[ng-click] {
  cursor: pointer;
}

a[ui-sref] {
  cursor: pointer;
}

.form-group {
  margin-bottom: 10px;
}

.form-group .help-block,
.form-group .input-group {
  margin-bottom: 0;
}

.notifications {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 400px;
  z-index: 2000;
}

.notifications .alert {
  padding: 10px;
  margin-bottom: 5px;
}

.animate-fade {
  height: 20px;
  -moz-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}

.animate-fade.ng-hide {
  height: 0;
}

.primary-nav {
  background-color: #20408d;
  border-bottom: 0;
}

.primary-nav .navbar-brand {
  color: #fff;
}

.primary-nav .navbar-brand:hover, .primary-nav .navbar-brand:focus {
  color: #bbb;
}

.primary-nav .navbar-top-links > li > a {
  color: #fff;
}

.primary-nav .navbar-top-links > li > a:hover, .primary-nav .navbar-top-links > li > a:focus {
  background-color: transparent;
  color: #bbb;
}

.btn {
  font-weight: bold;
}

.btn-primary {
  background-color: #20408d;
  border-color: #20408d;
}

.btn-info {
  background-color: #1191ca;
  border-color: #1191ca;
  color: #fff;
}

.btn-success {
  background-color: #17aa4e;
  border-color: #17aa4e;
  padding-left: 22px;
  padding-right: 22px;
}

label {
  font-weight: normal;
  color: #888;
  font-size: 12px;
}

.form-control-static {
  min-height: 20px;
  padding: 0;
}

@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 2px;
  }
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
  padding-top: 1px;
}

.radio label, .checkbox label {
  color: #555;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
  margin-top: 2px
}

.panel-default > .panel-heading {
  color: #fff;
  padding: 2px 8px 4px 8px;
}

.panel-body {
  padding: 7px 10px 3px 10px;
}

.panel {
  border-radius: 0;
}

.panel-default {
  border-color: #0C9444;
  border-width: 2px;
}

.panel-default > .panel-heading {
  background-color: #0C9444;
  border-radius: 0;
  border-bottom: 0;
}

.panel-title {
  line-height: 1.42857143;
  font-weight: bold;
  font-size: 18px;
}

.modal-header {
  padding-bottom: 0;
  border-bottom: 0;
}

.modal-title {
  padding: 4px 10px;
  font-weight: bold;
  background-color: #20408d;
  color: #fff;
}

.modal-footer {
  padding-top: 0;
  border-top: 0;
}

fieldset {
  position: relative;
  padding: 54px 10px 10px 10px;
  border: 1px solid #ddd;
}

legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
  padding: 4px 10px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.panel-patient {
  margin-bottom: 0;
  margin-top: 20px;
}

.panel-patient .list-inline {
  margin-bottom: 0;
  margin-top: 2px;
}

.panel-patient .list-inline label {
  color: #bbb;
}

.panel-patient .panel-body {
  padding: 0;
}

.panel-patient .table {
  margin: 0;
}

.panel-dotted {
  border-style: dashed;
}

.panel-patient.panel-dotted .table > tbody > tr > td {
  border-right: 1px dashed;
  background-color: #eee;
}

.panel-patient .table > thead > tr > th,
.panel-patient .table > tbody > tr > th,
.panel-patient .table > tfoot > tr > th,
.panel-patient .table > thead > tr > td,
.panel-patient .table > tbody > tr > td,
.panel-patient .table > tfoot > tr > td {
  border-top: 0;
  padding-top: 7px;
  padding-bottom: 3px;
  border-right: 1px solid;
}

.panel-patient .table > thead > tr > th:last-child,
.panel-patient .table > tbody > tr > th:last-child,
.panel-patient .table > tfoot > tr > th:last-child,
.panel-patient .table > thead > tr > td:last-child,
.panel-patient .table > tbody > tr > td:last-child,
.panel-patient .table > tfoot > tr > td:last-child {
  border-right: 0;
}

.sort-asc:after {
  padding-left: 5px;
  content:'\25BC'
}

.sort-desc:after {
  padding-left: 5px;
  content:'\25B2'
}

.spinner {
  width: 20px;
  height: 20px;
  padding-top: 5px;
  padding-left: 20px;
  position: relative;
  display: inline-block;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #777;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Header */
.header-background {
  background-color: #20408D;
  padding-top: 20px;
  padding-bottom: 5px;
  line-height: 0;
}

.header-background-mobile {
  background-color: #20408D;
  padding-top: 0px;
}

.header-title-1{
  color: #FFFFFF;
}

.header-title-2{
  color: #CCCCCC;
}

.header-title-3{
  color: #FFFFFF;
}
.ripple-icon
{
  width:40px;
  height:40px;
}

/* Header - Search Bar */
.icon-searchbar:before{
  color: #82BE36;
  font-size: 20px;
}

.search-left-inner-addon {
  position: relative;
  color: #999999;
  font-size:16px;
}
.search-left-inner-addon input {
  padding-left: 30px;
}
.search-left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
  color: #999999;
}

.search-left-inner-addon .form-control{
  display: block;
  width: 100%;
  height: 34px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #999999;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  align-content: center;
}

.search-left-inner-addon .form-control::-webkit-input-placeholder { color: #999999;}
.search-left-inner-addon  .form-control:-moz-placeholder { color: #999999; }
.search-left-inner-addon  .form-control::-moz-placeholder { color: #999999; }
.search-left-inner-addon .form-control:-ms-input-placeholder { color: #999999; }

.header-search-mobile{
  padding-left:45px;
  padding-right: 45px;
  padding-bottom: 10px;
  font-family:hero;
}

.header-search{
  font-size: 20px;
  color: #FFF;
  font-family:hero;
}

.header-left{
  padding-left: 40px;
  text-align: left;
}

.header-left-mobile{
  text-align: center;
  padding-right: 60px;
  max-height: 45px;
  font-family:hero;
}

.header-right{
  font-size: 20px;
  color: #FFF;
  padding-right: 40px;
  text-align: right;
  font-family: "Hero";
 }

.header-right-mobile{
  font-size: 20px;
  color: #FFF;
  padding-left: 45px;
  font-family: "Hero";
}

.glyphicon-user:before {
  color:#82BE36;
}

/* Toolbar */
.header-toolbar{
  background-color: #426AAF;
  font-size: 22px;
  color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
}

.previous-page-arrow{
  float:left;
  padding-left: 30px;
  padding-top: 4px;
  cursor: pointer;
}

.previous-page-title{
  padding-left: 20px;
  font-family: "Hero";
}

.current-page-title {
  font-family: "Hero";
}

/* Dashboard */
.button-icons:before {
  color: #82BE36;
  font-size:70px;
}

.dashboard-button{
  text-align: center;
  border: solid 2px #D0D0D0;
  padding: 20px;
  background-color: #FFF;
  padding: 20px;
  margin-bottom: 20px;
}

.dashboard-button-text{
  margin-top: 20px;
  color: #000000;
  display: block;
  font-size: 25px;
}

.button-icons-stack:before{
  color: #000066;
}

#age-chart{
  margin-top: 100px
}

#department-chart{
  margin-top: 100px
}

.chart-title{
  color: #000000;
  font-size: 22px;
  margin-bottom: 5px;
}

.chart-description{
  color: #767676;
  font-size: 16px;
}

.chart-fa-stack{
  padding-top: 18px;
  font-size: 30px;
}

.chart-title-group{
  margin-left: 30px;
  font-size: 18px;
  padding-bottom: 40px;
  font-family: "Hero";
}

.chart-title-age{
  color: #7E28CD;
}

.chart-title-setting{
  color:#25A174;
}

.cake-icon:before{
  color: #7E28CD;
}

.map-marker-icon:before{
  color:#25A174;
}

.main-nav a.button {
  display: block;
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0 10px 20px 10px;
  font-size: 22px;
  background-color: #fff;
  color: #000000;
}

.main-nav a.button:hover {
  background-color: #f4f8ec;
  text-decoration: none;
}

.main-nav a.button i {
  color: #7cbe31;
  line-height: 70px;
  height: 70px;
  display: block;
}

/* Button Icons - Variable Sizes to fit */
.main-nav a.button.viewall i { font-size: 110px; }
.main-nav a.button.spine i { font-size: 90px; margin-top: 10px; }
.main-nav a.button.saved i { font-size: 85px; margin-top: 10px; }

.chart-inner {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 20px;
  background-color: #fff;
}

.chart-inner select.form-control {
  width: auto;
}

/* User Profile Menu */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #eee;
  border-color: transparent;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  border-color: transparent;
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.dropdown-profile-text{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-top: 10px;
}

.user-profile-image {
  margin-bottom: 0;
  color:#82BE36;
  font-size: 70px;
  border: 1px solid #c0c2be;
  border-radius: 3px;
  background-color: #eef8e7;
}

/* Patient List */
.glyphicon-list-patients:before {
  color: #7cbe31;
}

/* Patient Detail */

/* Tables (Generic) and Pagination */

table.table {
  width: 100%;
  border: 1px solid #bebcbd;
  border-collapse:separate;
  border-radius: 3px;
  -moz-border-radius:6px;
}

.table thead {
  background-color: #cee7ae;
}

.table thead tr th {
  border-bottom: none;
  font-weight: 500;
}

/* Sorting */
.table thead i {
  margin-left: 5px;
}

.table.clickable tbody tr {
  cursor: pointer;
}

.table tbody tr:first-child td {
  border-top: none;
}

.table tbody tr td {
  vertical-align: middle;
  height: 37px;
}

.table tbody tr td:first-child {
  font-weight: 500;
}

.table .dropdown-menu {
  left: auto;
  right: 0;
}

.table .dropdown-menu li {
  width: 100%;
}

.table .dropdown-menu li i {
  width: 18px;
  display: inline-block;
}

/* Transparent Tables */

.table-striped tbody tr {
  background-color: rgba(238, 241, 243, 0.7);
}

.table-striped tbody tr:hover td {
  background-color: #eef8e7;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255,255,255,0.7);
}

.table .view {
  min-width: 93px;
}

.table .view .dropdown-toggle:hover {
  background-color: #7dbe31;
  border-color: #7dbe31;
}

.table .view .dropdown-menu>li>a:hover {
  background-color: #d0e8af;
}


.pagination {
  margin-top: 10px;
}

.pagination li a {
  background: transparent;
  border: none;
  font-weight: 700;
  color: #283536;
  padding: 5px 7px;
}

.pagination li a:hover {
  background: transparent;
  text-decoration: underline;
}

.pagination li.selected a {
  color: #7dbe31;
}

.pagination .increment a {
  background-color: #0e672f;
  color: #fff;
  padding: 5px 10px;
}

.pagination .increment a:hover {
  background-color: #128642;
  text-decoration: none;
  color: #fff;
}

.pagination .increment.disabled a {
  background-color: #9a9a9a;
  color: #fff;
}

.pagination .increment.disabled a {
  text-decoration: none;
}

.pagination .increment.previous a {
  margin-right: 10px;
}

.pagination .increment.next a {
  margin-left: 10px;
}

/* Confirmation Modal */
.modal-backdrop {
  background-color: #ffffff;
}

.modal-header {
  background-color: #20408D;
}

.modal-body {
  background-color: #ffffff;
}

.modal-title{
  background-color: #20408D;
}

/* Patient Dashboard */

/* Patient Summary (top) */

.patient-summary {
  padding: 0;
  border: 1px solid #c0c2be;
  border-radius: 3px;
  background-color: #eef8e7;
}

.patient-summary .profile {
  padding: 15px;
}

.patient-summary h2 {
  font-size: 17px;
  font-weight: 400;
  margin-top: 0;
}

.patient-summary .profile-image {
  height: 55px;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 0;
}

.patient-summary .profile-image i {
  font-size: 70px;
  line-height: 70px;
}

.patient-summary .info {
  padding: 15px 15px 25px 15px;
  background-color: #fff;
  font-size: 14px;
  min-height: 85px;
}

.patient-summary .info dl {
  margin: 0 0 0 0;
  line-height: 2em;
}

.patient-summary .info dl dt,
.patient-summary .info dl dd {
  display: inline-block;
  line-height: 1em;
}

.patient-summary .info dl dt {
  margin-right: 5px;
  font-weight: 500;
}

.patient-summary .info dl dd {
  margin-right: 15px;
}


.patient-summary a.more {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  color: #106633;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.patient-summary a.more:hover {
  text-decoration: none;
  color: #283536;
}

.patient-summary .more i {
  font-size: 14px;
  margin-left: 5px;
}

/* Expanded Panels */
/* 		.patient-summary .more-info.expanded { display: block; } */

/* Collapsed Panels */
.patient-summary .more-info.collapsed { display: none; }


/* Dashboards */

.board:nth-child(4) {
  /* 4th board should always clear left */
  clear: left;
}

.board h2 {
  font-size: 20px;
  font-weight: 400;
}

.board h2 a:hover {
  color: #7dbe31;
  text-decoration: none;
}

.board h2 .resultcount {
  float: right;
  font-size: 12px;
  color: #106333;
  line-height: 2.4em;
}

.board h2 i {
  color: #7dbf31;
  margin-right: 4px;
}


/* Patient Details Panel */

.side-bar #details .panel-body {
  padding: 0;
  background-color: #fff;
}

.side-bar #details nav {
  margin: 0;
}

.side-bar #details nav li {
  display: block;
}

.side-bar #details nav li a {
  padding: 0 10px 8px 10px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  font-size: 16px;
}

.side-bar #details nav li a:hover {
  color: #283536;
}

.side-bar #details nav li:last-child a {
  border-bottom: none;
}

.side-bar #details nav li a:hover {
  text-decoration: none;
  background-color: #eef8e7;
}

.side-bar #details nav li a i {
  font-size: 26px;
  display: inline-block;
  width: 28px;
  height: 28px;
  overflow: hidden;
  position: relative;
  top: 3px;
}

/* Section - Variable Sizes to fit */
.side-bar #details nav li a i.fa-stethoscope { top: 8px; }
.side-bar #details nav li a i.fa-ambulance { font-size: 22px; top: 10px; }



/* Main Content Area */

.main {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.main h1 {
  font-size: 24px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 20px;
}

.main h1 i {
  color: #79bc2d;
  font-size: 140%;
  height: 26px;
  display: inline-block;
  overflow: hidden;
  margin-right: 7px;
}

.main.opaque-bg {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

/* Side Bar (Specific) */

/* Profile Panel */
.profile-image {
  border: 1px solid #bdbdbd;
  margin: 0 10px 10px 0;
  padding: 0 10px;
  background-color: #fff;
  height: 85px;
  overflow: hidden;
}

.profile-image i {
  font-size: 100px;
  line-height: 100px;
  display: block;
  color: #c1c1c1;
}

.side-bar #profile p.date {
  font-size: 12px;
}

.side-bar #profile p.nav {
  clear: left;
  font-size: 12px;
  text-transform: uppercase;
}

.side-bar #profile p.nav a {
  font-weight: 500;
}

/* Filter Panel */

.side-bar #filter label {
  font-weight: 300;
}

.side-bar #filter label {
  font-weight: 300;
}

/* Panels (General) - Collapsed by default */
.side-bar .panel .panel-heading,
.side-bar .panel .panel-body,
.side-bar .panel .panel-footer {
  padding: 1px 15px;
  border-radius: 0;
}

.side-bar .panel {
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

/* First Panel is rounded at the top */
.side-bar .panel:first-child .panel-heading {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Last Panel is rounded at the bottom */
.side-bar .panel.collapsed:last-child .panel-heading,
.side-bar .panel.expanded:last-child .panel-body {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.side-bar .panel .panel-heading {
  background-color: #7cbe31;
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  padding-right: 5px;
}

/* Expanded Panels */
.side-bar .panel.expanded .panel-heading { background-color: #0e682f; }

/* Collapsed Panels */
.side-bar .panel.collapsed .panel-body { display: none; }

.side-bar .panel .panel-heading i {
  font-size: 130%;
  margin-right: 5px;
}

.side-bar .panel .panel-heading i.fi-torso {
  margin-left: 2px;
  margin-right: 6px;
}

.side-bar .panel .panel-heading .toggle {
  line-height: 1.9em;
}

.side-bar .panel .panel-heading .toggle i {
  font-size: 70%;
  color: #fff;
}

.side-bar .panel .panel-body {
  padding: 15px 18px;
  background-color: #eff0f2;
}

.side-bar .panel h3 {
  margin: 0 0 8px 0;
  font-size: 19px;
  font-weight: 400;
}

.side-bar .panel a {
  color: #283536;
}

.side-bar .panel p.nav,
.side-bar .panel a i {
  color: #268d5c;
}


/* Toggle Charts */
/* Use this instead of hide as doesn't carry the '!important'a attribute.
	Useful when calling jQuery show() on hidden elements */
.soft-hide {
  display: none;
}

.clearfix {
  clear: both;
}





