# IntelliJ IDEA #
.idea
*.iml
webapp/.idea/

# Eclipse #
.project
.classpath
.settings/

# Misc #
target/
.springBeans
.tern-project
node_modules/
*.log

# ActiveMQ #
activemq-data/
*/activemq-data/

# Config #
context-ripple.xml
