# IntelliJ IDEA #
*.iml
.idea

# Eclipse #
.classpath
.metadata
.project
.recommenders
.settings
.springBeans

# NetBeans #
nb-configuration.xml
nbactions.xml
nbproject

# Misc #
gpconnect-demonstrator-api/src/main/webapp
log
target

# UI #
**/styles/main.*
**/tenant/*.js
**/themes/theme.scss
.sass-cache
.tmp
bower_components
dist
node_modules

# Config #
context-gpconnect.xml
/bin/
