<h3><strong>Transfer of Care</strong></h3>

<div class="inner-addon left-addon filterInput">
    <i class="fa fa-filter"></i>
    <input type="text" class="form-control" placeholder="Filter..." ng-model="query[queryBy]" />
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Transfer</th>
    <th>From (Site / Organisation)</th>
    <th>To (Site / Organisation) </th>
    <th>Date / Time</th>
    <th>Source</th>
  </tr>
  </thead>

  <tbody>

  <tr dir-paginate="transfer in transferofCareComposition | itemsPerPage: 6 | filter:query" ng-click="go('{{transfer.sourceId}}')" ng-class="{info: selected(transfer.sourceId)}">
    <td>Transfer #{{($index + 1)}}</td>
    <td>{{transfer.siteFrom}}</td>
    <td>{{transfer.siteTo}}</td>
    <td class="dateTime">{{transfer.dateOfTransfer}}</td>
    <td>local</td>
  </tr>

  <tr ng-if="!transferofCareComposition.length">
    <td colspan="5"><span class="label label-default">No transfers</span></td>
  </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-12">
    <span class="patientSummary-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="patientSummary-spinner" spinner-start-active="true"></span>
  </div>
</div>

<div class="row">
  <div class="col-md-6 hidden-xs"><div class="text-right"><dir-pagination-controls boundary-links="false"></dir-pagination-controls></div></div>
  <div class="col-md-6 hidden-xs"><div class="text-right create-button"><button class="btn btn-info" ng-click="create();"><i class="fa fa-plus"></i> Create</button></div></div>
</div>
<div class="row">
  <div class="col-xs-6 hidden-sm hidden-md hidden-lg"><div class="text-right"><dir-pagination-controls boundary-links="false"></dir-pagination-controls></div></div>
  <div class="col-xs-6 hidden-sm hidden-md hidden-lg"><div class="text-right create-button"><button class="btn btn-info" ng-click="create();"><i class="fa fa-plus"></i> Create</button></div></div>
</div>
