<h3><strong>Transfer of Care</strong></h3>

<div class="inner-addon left-addon filterInput">
    <i class="fa fa-filter"></i>
    <input type="text" class="form-control" placeholder="Filter..." ng-model="query[queryBy]" />
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Transfer</th>
    <th>From (Site / Organisation)</th>
    <th>To (Site / Organisation) </th>
    <th>Date / Time</th>
    <th>Source</th>
  </tr>
  </thead>

  <tbody>

  <tr ng-repeat="transfer in transferofCareComposition.transfers | filter:query" ng-click="go('/patients/{{patient.id}}/transfer-of-care-detail/{{$index}}')" ng-class="{info: selected($index)}">
    <td>Transfer #{{($index + 1)}}</td>
    <td>{{transfer.transferDetail.site.siteFrom}}</td>
    <td  width="30%">{{transfer.transferDetail.site.siteTo}}</td>
    <td width="15%">{{transfer.transferDetail.site.timeStamp}}</td>
    <td>local</td>
  </tr>

  <tr ng-if="!transferofCareComposition.transfers.length">
    <td colspan="5"><span class="label label-default">No transfers</span></td>
  </tr>
  </tbody>
</table>

<div class="text-right">
  <button class="btn btn-info" ng-click="create();"><i class="fa fa-plus"></i> Create</button>
</div>

