<h4>Transfer of care <span ng-if="transferOfCareSelectionNumber"> #{{transferOfCareSelectionNumber}}</span> detail</h4>

<div class="form-horizontal text-left">

  <div class="form-group form-group-sm">
    <label class="control-label col-md-4">Problems</label>
    <div class="col-md-8">
      <div class="form-control-static">
        <span class="transfer-of-care-no-selected-items" ng-if="!problems.length">No problems selected</span>
        <ul>
          <li ng-repeat="(key,value) in problems">{{value.problem}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="control-label col-md-4">Medications</label>
    <div class="col-md-8">
      <div class="form-control-static">
        <span class="transfer-of-care-no-selected-items" ng-if="!medications.length">No medication selected</span>
        <ul>
          <li ng-repeat="(key,value) in medications">{{value.name}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="control-label col-md-4">Allergies</label>
    <div class="col-md-8">
      <div class="form-control-static">
        <span class="transfer-of-care-no-selected-items" ng-if="!allergies.length">No allergies selected</span>
        <ul>
          <li ng-repeat="(key,value) in allergies">{{value.cause}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="control-label col-md-4">Contacts</label>
    <div class="col-md-8">
      <div class="form-control-static">
        <span class="transfer-of-care-no-selected-items" ng-if="!contacts.length">No contacts selected</span>
        <ul>
          <li ng-repeat="(key,value) in contacts">{{value.name}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="control-label col-md-4">Reason for contact</label>
    <div class="col-md-8">
      <div class="form-control-static">
        <span class="transfer-of-care-no-selected-items" ng-if="!transferDetail.reasonForContact.length">No reason specified</span>
        <ul ng-if="transferDetail.reasonForContact">
          <li>{{transferDetail.reasonForContact}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="control-label col-md-4">Clinical Summary</label>
    <div class="col-md-8">
      <div class="form-control-static">
        <span class="transfer-of-care-no-selected-items" ng-if="!transferDetail.clinicalSummary.length">No clinical summary</span>
        <ul ng-if="transferDetail.clinicalSummary">
          <li>{{transferDetail.clinicalSummary}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="control-label col-md-4">From (Site/Org)</label>
    <div class="col-md-8">
      <div class="form-control-static">
        <span class="transfer-of-care-no-selected-items" ng-if="!site.siteFrom.length">No transfer from (Site/Org)</span>
        <ul ng-if="site.siteFrom">
          <li>{{site.siteFrom}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="control-label col-md-4">To (Site/Org)</label>
    <div class="col-md-8">
      <div class="form-control-static">
        <span class="transfer-of-care-no-selected-items" ng-if="!site.siteTo.length">No transfer to (Site/Org)</span>
        <ul ng-if="site.siteTo">
          <li>{{site.siteTo}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="control-label col-md-4">Date of Transfer</label>
    <div class="col-md-8">
      <div class="form-control-static">
        <span class="transfer-of-care-no-selected-items" ng-if="!site.timeStamp.length">No transfer date</span>
        <ul ng-if="site.timeStamp">
          <li>{{site.timeStamp}}</li>
        </ul>
      </div>
    </div>
  </div>

</div>
