<h4>Transfer of Care</h4>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>

  <tbody>

  <tr ng-repeat="transfer in transferofCareCollection.transferOfCares" ng-click="go('/patients/{{patient.id}}/transfer-of-care-detail/{{$index}}')" ng-class="{info: selected($index)}">
    <td>Transfer of care #{{($index + 1)}}</td>
    <td><i class="fa fa-fw" ng-class="selected($index) ? 'fa-folder-open' : 'fa-folder'"></i></td>
  </tr>

  <tr ng-if="!transferofCareCollection.transferOfCares.length">
    <td colspan="3"><span class="label label-default">No transfer of cares</span></td>
  </tr>
  </tbody>
</table>


