<div class="modal-header">
    <h4 class="modal-title">Transfer of Care</h4>
</div>

<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{ patient.fullname() }}</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4 text-left"><label>Born:</label> <strong>{{ patient.born | date:'dd-MMM-yyyy' }}</strong></div>
        <div class="col-sm-4 text-center"><label>Gender:</label> <strong>{{ patient.gender }}</strong></div>
        <div class="col-sm-4 text-right"><label>NHS No:</label> <strong>{{ patient.nhsNo }}</strong></div>
      </div>
    </div>
  </div>

  <style>
    .red{
      border-color: red;
      color: red;
    }

    .green{
      border-color: green;
      color: green;
    }
  </style>

  <div class="row">

    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" style="font-weight: bold">Problems <span class="badge badge-default">{{ transferOfCare.problems.problems.length }}</span> </li>
        <li class="list-group-item" ng-repeat="problem in problems" ng-click="selectTransferOfCareItem($index, 'problems')" ng-class="isItemSelected($index,'problems')">
          <div class="row">
            <div class="col-xs-9">
              {{problem.problem}}
            </div>
            <div class="col-xs-3">
              <span ng-class="isItemSelectedIcon($index,'problems')"></span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" style="font-weight: bold">Medications <span class="badge badge-default">{{ transferOfCare.medication.medications.length }}</span></li> </span> </li>
        <li class="list-group-item" ng-repeat="medication in medications" ng-click="selectTransferOfCareItem($index, 'medications')" ng-class="isItemSelected($index,'medications')">
          <div class="row">
            <div class="col-xs-9">
              {{medication.name}}
            </div>
            <div class="col-xs-3">
              <span ng-class="isItemSelectedIcon($index,'medications')"></span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" style="font-weight: bold">Allergies <span class="badge badge-default">{{ transferOfCare.allergies.allergies.length }}</span> </li>
        <li class="list-group-item" ng-repeat="allergy in allergies" ng-click="selectTransferOfCareItem($index, 'allergies')" ng-class="isItemSelected($index,'allergies')">
          <div class="row">
            <div class="col-xs-9">
              {{allergy.cause}}
            </div>
            <div class="col-xs-3">
              <span ng-class="isItemSelectedIcon($index,'allergies')"></span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" style="font-weight: bold">Contacts <span class="badge badge-default">{{ transferOfCare.contacts.contacts.length }}</span> </li>
        <li class="list-group-item" ng-repeat="contact in contacts" ng-click="selectTransferOfCareItem($index, 'contacts')" ng-class="isItemSelected($index,'contacts')">
          <div class="row">
            <div class="col-xs-9">
              {{contact.name}}
            </div>
            <div class="col-xs-3">
              <span ng-class="isItemSelectedIcon($index,'contacts')"></span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    </div>
  {{selecteditemzzz}}

  <form class="form-horizontal" name="transferOfCareForm">
    <fieldset>
      <legend>Details</legend>

      <div class="form-group">
        <label for="site" class="control-label col-md-4">Site</label>
        <div class="col-md-8">
          <div class="input-group">
            <select class="form-control" name="site" id="site" required>
              <option value="">Select a Site</option>
              <option>KINGS COLLEGE HOSPITAL</option>
              <option>WORCESTERSHIRE HEALTH AND CARE NHS TRUST</option>
              <option>ST JAMES'S UNIVERSITY HOSPITAL</option>
              <option>OXFORD HEALTH NHS FOUNDATION TRUST</option>
              <option>HINCHINGBROOKE HEALTH CARE NHS TRUST</option>
            </select>
            <span class="input-group-addon input-sm">
                <i class="fa fa-check fa-fw"></i>
            </span>
          </div>
        </div>
        <span class="help-block animate-fade" ng-show="formSubmitted && diagnosisForm.problem.$error.required">You must enter a value.</span>
      </div>

      <div class="form-group">
        <label for="code" class="control-label col-md-4">Reason for Contact</label>
        <div class="col-md-8">
          <textarea class="form-control" rows="3" id="reasonForContact" ng-model="transferOfCare.reasonForContact"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="code" class="control-label col-md-4">Clinical Summary</label>
        <div class="col-md-8">
          <textarea class="form-control" rows="3" id="clinicalSummary" ng-model="transferOfCare.clinicalSummary"></textarea>
        </div>
      </div>

    </fieldset>
  </form>
</div>

<div class="modal-footer">
    <a class="btn btn-info" ng-click="cancel()">Cancel</a>
    <button class="btn btn-success" ng-click="formSubmitted = true; ok(transferOfCareForm, transferOfCare);"><i class="fa fa-check"></i> Complete</button>
</div>
