<div ng-repeat="keyIndicatorTable in keyIndicatorTables">
  <h3>
    <strong>Key Indicators</strong>
    <div class="glyphicon glyphicon-info-sign" tooltip="Source: {{ keyIndicatorTable.provider }}" tooltip-trigger tooltip-animation="false" tooltip-placement="right" />
  </h3>

  <div class="providerHTMLTables" >
    <div ng-bind-html="keyIndicatorTable.html"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <span class="patientSummary-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="patientSummary-spinner" spinner-start-active="true"></span>
  </div>
</div>
