<div class="modal-header">
    <h4 class="modal-title">{{ modal.title }}</h4>
</div>

<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{ patient.fullname() }}</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4 text-left"><label>Born:</label> <strong>{{ patient.born | date:'dd-MMM-yyyy' }}</strong></div>
        <div class="col-sm-4 text-center"><label>Gender:</label> <strong>{{ patient.gender }}</strong></div>
        <div class="col-sm-4 text-right"><label>NHS No:</label> <strong>{{ patient.nhsNo }}</strong></div>
      </div>
    </div>
  </div>

  <form name="contactForm" class="form-horizontal text-left">
    <fieldset>
      <legend>Contact detail</legend>

      <div class="form-group" ng-class="{'has-error': (formSubmitted || contactForm.name.$dirty) && contactForm.name.$invalid, 'has-success': contactForm.name.$valid && contactForm.name.$dirty}">
        <label for="name" class="control-label col-md-4">Name</label>
        <div class="col-md-8">
          <div class="input-group">
            <textarea class="form-control input-sm" id="name" name="name" ng-model="contact.name" required></textarea>
            <span class="input-group-addon input-sm">
                <i class="fa fa-check fa-fw"></i>
            </span>
          </div>
          <span class="help-block animate-fade" ng-show="formSubmitted && contactForm.name.$error.required">You must enter a value.</span>
        </div>
      </div>

      <div class="form-group form-group-sm" ng-class="{'has-error': (formSubmitted || contactForm.date.$dirty) && contactForm.date.$invalid, 'has-success': contactForm.date.$valid && contactForm.date.$dirty}">
        <label for="date" class="control-label col-md-4">Date</label>
        <div class="col-md-8">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-sm" ng-click="openDatepicker($event, 'dateOpen')"><i class="fa fa-calendar"></i></button>
            </span>
            <input type="text" class="form-control" id="date" name="date" ng-model="contact.date" ng-click="openDatepicker($event, 'dateOpen')" datepicker-popup is-open="$parent.dateOpen" required />
            <span class="input-group-addon input-sm">
              <i class="fa fa-check fa-fw"></i>
            </span>
          </div>
          <span class="help-block animate-fade" ng-show="formSubmitted && contactForm.date.$error.required">You must enter a valid date.</span>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': (formSubmitted || contactForm.description.$dirty) && contactForm.description.$invalid, 'has-success': contactForm.description.$valid && contactForm.description.$dirty}">
        <label for="description" class="control-label col-md-4">Description</label>
        <div class="col-md-8">
          <div class="input-group">
            <textarea class="form-control input-sm" id="description" name="description" ng-model="contact.description" required></textarea>
            <span class="input-group-addon input-sm">
                <i class="fa fa-check fa-fw"></i>
            </span>
          </div>
          <span class="help-block animate-fade" ng-show="formSubmitted && contactForm.description.$error.required">You must enter a value.</span>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': (formSubmitted || contactForm.author.$dirty) && contactForm.author.$invalid, 'has-success': contactForm.author.$valid && contactForm.author.$dirty}">
        <label for="author" class="control-label col-md-4">Author</label>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control input-sm" id="author" name="author" ng-model="contact.author" required />
            <span class="input-group-addon input-sm">
                <i class="fa fa-check fa-fw"></i>
            </span>
          </div>
          <span class="help-block animate-fade" ng-show="formSubmitted && contactForm.author.$error.required">You must enter a value.</span>
        </div>
      </div>
  </form>
</div>

<div class="modal-footer">
    <a class="btn btn-info" ng-click="cancel()">Cancel</a>
    <button class="btn btn-success" ng-click="formSubmitted = true; ok(contactForm, contact);"><i class="fa fa-check"></i> Complete</button>
</div>
