<h4>Contact <span ng-if="contactSelectionNumber"> #{{contactSelectionNumber}}</span> detail</h4>

<div class="form-horizontal text-left">
    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Name</label>
      <div class="col-md-8">
        <div class="form-control-static">{{ contact.name }}</div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Relationship</label>
      <div class="col-md-8">
        <div class="form-control-static">{{ contact.relationship }}</div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Relationship Code</label>
      <div class="col-md-8">
        <div class="form-control-static">{{ contact.relationshipCode }}</div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Relationship Terminology</label>
      <div class="col-md-8">
        <div class="form-control-static">{{ contact.relationshipTerminology }}</div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Relationship Type</label>
      <div class="col-md-8">
        <div class="form-control-static">{{ contact.relationshipType }}</div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Contact Information</label>
      <div class="col-md-8">
        <div class="form-control-static">{{ contact.contactInformation }}</div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Next of Kin</label>
      <div class="col-md-8">
        <div class="form-control-static"><i class="fa fa-fw fa-check" ng-if="contact.nextOfKin"></i></div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Note</label>
      <div class="col-md-8">
        <div class="form-control-static">{{ contact.note }}</div>
      </div>
    </div>
</div>

<div class="form-group form-group-sm text-right">
  <button class="btn btn-info" ng-click="edit();"><i class="fa fa-pencil"></i> Edit</button>
</div>
