<h3><strong>Contacts</strong></h3>

<div class="inner-addon left-addon filterInput">
    <i class="fa fa-filter"></i>
    <input type="text" class="form-control" placeholder="Filter..." ng-model="query[queryBy]" />
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Relationship</th>
      <th>Next of Kin</th>
      <th>Source</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="contact in contacts | filter:query" ng-click="go('/patients/{{patient.id}}/contacts/{{$index}}')" ng-class="{info: selected($index)}">
      <td>{{ contact.name }}</td>
      <td>{{ contact.relationship }}</td>
      <td><i class="fa fa-fw fa-check" ng-if="contact.nextOfKin"></i></td>
      <td>{{ contact.source }}</td>
    </tr>

    <tr ng-if="!contacts.length">
      <td colspan="4"><span class="label label-default">No contacts</span></td>
    </tr>
  </tbody>
</table>

<div class="text-right">
  <button class="btn btn-info" ng-click="create();"><i class="fa fa-plus"></i> Create</button>
</div>
