<h3><strong>Problems / Diagnoses</strong></h3>

<div class="inner-addon left-addon filterInput">
    <i class="fa fa-filter"></i>
    <input type="text" class="form-control" placeholder="Filter..." ng-model="query" />
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Problems / Diagnoses</th>
      <th>Date</th>
      <th>Source</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="diagnosis in diagnoses | filter:search" ng-click="go('/patients/{{patient.id}}/diagnoses/{{$index}}')" ng-class="{info: selected($index)}">
      <td>{{ diagnosis.problem }}</td>
      <td class="dateTime">{{ diagnosis.dateOfOnset}}</td>
      <td>{{diagnosis.source}}</td>
    </tr>

    <tr ng-if="! diagnoses || ! diagnoses.length">
      <td colspan="3"><span class="label label-default">No diagnoses</span></td>
    </tr>
  </tbody>
</table>

<div class="text-right">
  <button class="btn btn-info" ng-click="create();"><i class="fa fa-plus"></i> Create</button>
</div>
