<h4>Problem / Issues / Diagnoses</h4>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Record</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="diagnosis in patient.diagnoses | orderBy:'-dateOfOnset'" ng-click="go('/patients/{{patient.id}}/diagnoses/{{diagnosis.id}}')" ng-class="{info: selected(diagnosis)}">
      <td>{{ diagnosis.dateOfOnset | date:'dd-MMM-yyyy' }}</td>
      <td>{{ diagnosis.problemDiagnosis }}</td>
      <td><i class="fa fa-fw" ng-class="selected(diagnosis) ? 'fa-folder-open' : 'fa-folder'"></i></td>
    </tr>

    <tr ng-if="! patient.diagnoses || ! patient.diagnoses.length">
      <td colspan="3"><span class="label label-default">No diagnoses</span></td>
    </tr>
  </tbody>
</table>

<div class="text-right">
  <button class="btn btn-info" ng-click="create();"><i class="fa fa-plus"></i> Create</button>
</div>
