<div class="modal-header">
    <h4 class="modal-title">{{ modal.title }}</h4>
</div>

<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{ patient.name }}</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4 text-left"><label>Born:</label> <strong>{{ patient.dateOfBirth | date:'dd-MMM-yyyy' }}</strong></div>
        <div class="col-sm-4 text-center"><label>Gender:</label> <strong>{{ patient.gender }}</strong></div>
        <div class="col-sm-4 text-right"><label>NHS No:</label> <strong>{{ patient.nhsNumber }}</strong></div>
      </div>
    </div>
  </div>

  <form name="diagnosisForm" class="form-horizontal text-left">
    <fieldset>
      <legend>{{ modal.title }}</legend>

      <div class="form-group" ng-class="{'has-error': (formSubmitted || diagnosisForm.problem.$dirty) && diagnosisForm.problem.$invalid, 'has-success': diagnosisForm.problem.$valid && diagnosisForm.problem.$dirty}">
        <label for="text" class="control-label col-md-4">Problem / Diagnosis</label>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control input-sm" id="problem" name="problem" ng-model="diagnosis.problem" required />
          </div>
          <span class="help-block animate-fade" ng-show="formSubmitted && diagnosisForm.problem.$error.required">You must enter a value.</span>
        </div>
      </div>

      <div class="form-group form-group-sm" ng-class="{'has-error': (formSubmitted || diagnosisForm.dateOfOnset.$dirty) && diagnosisForm.dateOfOnset.$invalid, 'has-success': diagnosisForm.dateOfOnset.$valid && diagnosisForm.dateOfOnset.$dirty}">
        <label for="dateOfOnset" class="control-label col-md-4">Date of Onset</label>
        <div class="col-md-8">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-sm" ng-click="openDatepicker($event, 'dateOfOnsetOpen')"><i class="fa fa-calendar"></i></button>
            </span>
            <input type="text" class="form-control" id="dateOfOnset" name="dateOfOnset" ng-model="diagnosis.dateOfOnset" ng-click="openDatepicker($event, 'dateOfOnsetOpen')" datepicker-popup is-open="dateOfOnsetOpen" required />
          </div>
          <span class="help-block animate-fade" ng-show="formSubmitted && diagnosisForm.dateOfOnset.$error.required">You must enter a valid date.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="text" class="control-label col-md-4">Description</label>
        <div class="col-md-8">
          <textarea class="form-control input-sm" id="text" name="text" ng-model="diagnosis.description"></textarea>
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label for="terminology" class="control-label col-md-4">Terminology</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="terminology" ng-model="diagnosis.terminology" />
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label for="code" class="control-label col-md-4">Code</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="code" ng-model="diagnosis.code" />
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class="modal-footer">
   <a class="btn btn-danger" ng-click="cancel()">Cancel</a>
    <button class="btn btn-success" ng-click="formSubmitted = true; ok(diagnosisForm, diagnosis);"><i class="fa fa-check"></i> Complete</button>
</div>
