<h4>MultiDisciplinary Teams</h4>
<div class="scrollcontainer1">
    <div ng-class="!cancerMdtComposition.cancerMDT.length?  'scrollcontainer2Empty' :  'scrollcontainer2' ">
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Date of Request</th>
    <th>Service Team</th>
    <th>Date of Meeting</th>
    <th>source</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="mdt in cancerMdtComposition.cancerMDT" ng-click="go('/patients/{{patient.id}}/cancer-mdt-detail/{{$index}}')" ng-class="{info: selected($index)}">
    <td>{{mdt.Date}}</td>
    <td>{{mdt.Service}}</td>
    <td>{{mdt.Date}}</td>
    <td>{{mdt.source}}</td>
  </tr>
  <tr ng-if="!cancerMdtComposition.cancerMDT.length">
    <td colspan="4"><span class="label label-default">No MDT's</span></td>
  </tr>
  </tbody>
</table>
</div>
</div>
<div class="text-right">
  <button class="btn btn-info" ng-click="create();"><i class="fa fa-plus"></i> Create</button>
</div>