<h3><strong>MultiDisciplinary Teams</strong></h3>

<div class="inner-addon left-addon filterInput">
    <i class="fa fa-filter"></i>
    <input type="text" class="form-control" placeholder="Filter..." ng-model="query" />
</div>

<div class="scrollcontainer1">
    <div ng-class="!cancerMdtComposition.length?  'scrollcontainer2Empty' :  'scrollcontainer2' ">
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Date of Request</th>
    <th>Service / Team</th>
    <th>Date of Meeting</th>
    <th>Source</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="mdt in cancerMdtComposition | filter:search" ng-click="go('{{mdt.sourceId}}')" ng-class="{info: selected(mdt.sourceId)}">
    <td class="dateTime">{{mdt.dateOfRequest}}</td>
    <td>{{mdt.serviceTeam}}</td>
    <td class="dateTime">{{mdt.dateOfMeeting}}</td>
    <td>{{mdt.source}}</td>
  </tr>
  <tr ng-if="!cancerMdtComposition.length">
    <td colspan="4"><span class="label label-default">No MDTs</span></td>
  </tr>
  </tbody>
</table>
<div class="text-right">
  <button class="btn btn-info" ng-click="create();"><i class="fa fa-plus"></i> Create</button>
</div>
</div>
</div>
