<h4>MDT</h4>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>MDT</th>
    <th>Date</th>
    <th>Service</th>
    <th></th>
  </tr>
  </thead>

  <tbody>

  <tr ng-repeat="mdt in cancerMdtComposition.cancerMDT" ng-click="go('/patients/{{patient.id}}/cancer-mdt-detail/{{$index}}')" ng-class="{info: selected($index)}">
    <td>MDT #{{($index + 1)}}</td>
    <td>{{mdt.Date}}</td>
    <td>{{mdt.Service}}</td>
    <td><i class="fa fa-fw" ng-class="selected($index) ? 'fa-folder-open' : 'fa-folder'"></i></td>
  </tr>
  <tr ng-if="!cancerMdtComposition.cancerMDT.length">
    <td colspan="5"><span class="label label-default">No MDT's</span></td>
  </tr>
  </tbody>
</table>

<div class="text-right">
  <button class="btn btn-info" ng-click="create();"><i class="fa fa-plus"></i> Create</button>
</div>

