<h3><strong>MDT</strong></h3>

<div class="form-horizontal text-left">
    
      <div class="form-group form-group-sm">
    <label class="control-label col-md-4">Service / Team</label>
    <div class="col-md-8">
      <div class="form-control-static">
        <span ng-if="!cancerMdt.Service.length">No Multidisciplinary Team</span>
        <ul ng-if="cancerMdt.Service">
          <li>{{cancerMdt.Service}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="control-label col-md-4">Date of request</label>
    <div class="col-md-8">
      <div class="form-control-static">
        <span ng-if="!cancerMdt.Date.length">No MDT date</span>
        <ul ng-if="cancerMdt.Date">
          <li>{{cancerMdt.Date}}</li>
        </ul>
      </div>
    </div>
  </div>
    
      <div class="form-group form-group-sm">
    <label class="control-label col-md-4">Date of Meeting</label>
    <div class="col-md-8">
      <div class="form-control-static">
        <span ng-if="!cancerMdt.Date.length">Not Available</span>
        <ul ng-if="cancerMdt.Date">
          <li>{{cancerMdt.Date}}</li>
        </ul>
      </div>
    </div>
  </div>
    
     <div class="form-group form-group-sm">
    <label class="control-label col-md-12">Link to Web Service Page</label>
    <div class="col-md-12">
      <div class="form-control-static">
            <a href="https://www.mdtwebservicedirectory.com?123080s9ijass">https://www.mdtwebservicedirectory.com?123080s9ijass</a>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="control-label col-md-12">Question For MDT</label>
    <div class="col-md-12">
      <div class="form-control-static">
        <span ng-if="!cancerMdt.questionForMDT.length">No Question For MDT</span>
        <ul ng-if="cancerMdt.questionForMDT">
          <li>{{cancerMdt.questionForMDT}}</li>
        </ul>
      </div>
    </div>
  </div>
    
    
  <div class="form-group form-group-sm">
    <label class="control-label col-md-12">Meeting Discussion</label>
    <div class="col-md-12">
      <div class="form-control-static">
        <span ng-if="!cancerMdt.Notes.length">No Meeting notes</span>
        <ul ng-if="cancerMdt.Notes">
          <li>{{cancerMdt.Notes}}</li>
        </ul>
      </div>
    </div>
  </div>

  </div>

<div class="form-group form-group-sm text-right">
  <button class="btn btn-info" ng-click="edit();"><i class="fa fa-pencil"></i> Edit</button>
</div>
