<div class="modal-header">
    <h4 class="modal-title">Information</h4>
</div>

<div class="modal-body">

    <div class="infoSection">

        <div class="infoHeader">Error Info</div>
        <div><label>Status:</label> {{ errorInfo.response.status}}</div>
        <div><label>StatusText:</label> {{ errorInfo.response.statusText}}</div>
        
        <div class="infoHeader">Operation Outcome Info</div>
        <div><label>Error Code:</label> {{ errorInfo.response.data.issue[0].details.coding[0].code }}</div>
        <div><label>Error Description:</label> {{ errorInfo.response.data.issue[0].details.text }}</div>

        <table class="providerHTMLTables">
            <tr>
                <td>Request URL</td><td>{{ errorInfo.response.config.url}}</td>
            </tr>
            <tr>
                <td>Ssp-To</td><td>{{ errorInfo.response.config.headers["Ssp-To"]}}</td>
            </tr>
            <tr>
                <td>Ssp-From</td><td>{{ errorInfo.response.config.headers["Ssp-From"]}}</td>
            </tr>
            <tr>
                <td>Ssp-InteractionID</td><td>{{ errorInfo.response.config.headers["Ssp-InteractionID"]}}</td>
            </tr>
            <tr>
                <td>Ssp-TraceID</td><td>{{ errorInfo.response.config.headers["Ssp-TraceID"]}}</td>
            </tr>
        </table>

    </div>

</div>

<div class="modal-footer">
    <a class="btn btn-success" ng-click="close()">Close</a>
</div>