<div class="modal-header">
    <h4 class="modal-title">Information</h4>
</div>

<div class="modal-body">

    <div class="infoSection">
        <div class="infoHeader">Introduction</div>
        <div>The GP Connect Demonstrator was built to demonstrate and test the GP Connect specification as it was being development. Information learned from the implementation and testing is 
            fed back into the development of the specification. The GP Connect Demonstrator is an evolving example of the GP Connect Specification closely following changes and updates to the 
            specification.</div>
        
        <div>Due to the environment in which the GP Connect demonstrator is deployed not all the functionality the demonstrator is capable of is used. Functionality such as making calls through 
            the spine proxy and looking up a GP system's FHIR endpoint from their ODS code. This is because there is currently no connection to a Spine instance or SDS which holds meaningful test 
            data. The demonstrator is capable of talking to a number of these services when they are available, and was used to do the first tests passing messages through the Spine Proxy.</div>
    </div>

    <div class="infoSection">
        <div class="infoHeader">Overnight Data Reset</div>
        <div>To aid in testing and to stop the demonstrator becoming cluttered with old test data we have implemented a clear down and reset process which happens every night at just after 1am. This
            resets all the appointment and task data which was added the previous day.</div>
        
        <div>A number of operations are performed by the system when clearing down the appointments. All appointments previously created are deleted along with all the slots which can be booked as 
            appointments. A new set of slots are added to the demonstrator using a pattern of slots taken from a configuration file. This process creates slots starting from the current date and 
            creates a varied set of slots covering the next seven days. As the slots are added from a set pattern within the configuration file, this allows us to setup specific test scenarios as 
            well as allowing for consistent testing from one day to another.</div>
        
        <div>The clear down of Tasks is much more simple, as the system can simply delete all the Tasks we have sent and all the tasks our system has received by running a simple delete query against 
            the supporting database.</div>
    </div>

</div>

<div class="modal-footer">
    <a class="btn btn-success" ng-click="close()">Close</a>
</div>