<h3><strong>Allergies</strong></h3>

<div class="inner-addon left-addon filterInput">
    <i class="fa fa-filter"></i>
    <input type="text" class="form-control" placeholder="Filter..." ng-model="query[queryBy]" />
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Cause</th>
      <th>Reaction</th>
      <th>Source</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="allergy in allergies | filter:query" ng-click="go('/patients/{{patient.id}}/allergies/{{$index}}')" ng-class="{info: selected($index)}">
      <td>{{ allergy.cause }}</td>
      <td>{{ allergy.reaction }}</td>
      <td>{{ allergy.source }}</td>
    </tr>

    <tr ng-if="!allergies.length">
      <td colspan="3"><span class="label label-default">No allergies</span></td>
    </tr>
  </tbody>
</table>

<div class="text-right">
  <button class="btn btn-info" ng-click="create();"><i class="fa fa-plus"></i> Create</button>
</div>

