<div ng-repeat="allergyTable in allergyTables">

  <h3>
    <strong>Allergies</strong>
    <div class="glyphicon glyphicon-info-sign" tooltip="Source: {{ allergyTable.provider }}" tooltip-trigger tooltip-animation="false" tooltip-placement="right" />
  </h3>

  <div class="providerHTMLTables" >
    <div ng-bind-html="allergyTable.html"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <span class="patientSummary-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="allergySummary-spinner" spinner-start-active="true"></span>
  </div>
</div>
