$background-image-url: '../images/site-bg2.png';

$toolbar-background: #19568c;

$tab-background: #19568c;

$header-color: #19568c;
$header-logo-url: '../images/GPConnect-icon.png';
$search-logo-url: '../images/search-GPConnect-logo.png';

$icon-chevron-color: #19568c;
$icon-user-color: #19568c;
$icon-main-nav-color: #007ae6;
$icon-patient-landing-color: #C5E29F;

$button-info-background: #1976ac;
$button-success-background: #1976ac;
$btn-danger-background: #bb3430;
$button-main-nav-background-hover: #f4f8ec;

$table-header-background: #5b89e5;
$table-row-background-hover: #80c3ff;

$panel-background: #19568c;

$link-color-hover: #007ae6;

$rounded-connected-background: #C5E29F;
