<div class="container-fluid">
    <div class="col-md-5">
        <h3>
            <strong>Medications</strong>
        </h3>
        <p> Placeholder</p>
        <!--Date Search: placeholder -->
        <div class="col-md-12 appDateRange">
            <div class="col-md-5">
                <text> Search from:</text>
                <div class="input-group">
	                <span class="input-group-btn">
	                    <button type="button" class="btn btn-default btn-sm" ng-click="openDatePicker($event, 'geStartDate')">
	                        <i class="fa fa-calendar"></i>
	                    </button>
	            	</span>
                    <input type="text" class="form-control input-sm popupinputs" id="geStartDate" name="geStartDate"
                           ng-model="appointment.geStartDate" ng-click="openDatePicker($event, 'geStartDate')"
                           datepicker-popup="dd-MMM-y" min-date="appointment.minGeStartDate" is-open="geStartDate" required/>
                </div>
            </div>

            <div class="col-md-5">
                <text>until:</text>
                <div class="input-group">
	                <span class="input-group-btn">
	                    <button type="button" class="btn btn-default btn-sm" ng-click="openDatePicker($event, 'leStartDate')" ng-disabled="!appointment.geStartDate">
	                        <i class="fa fa-calendar"></i>
	                    </button>
	                </span>
                    <input type="text" class="form-control input-sm popupinputs" id="leStartDate" name="leStartDate"
                           ng-model="appointment.leStartDate" ng-click="openDatePicker($event, 'leStartDate')"
                           datepicker-popup="dd-MMM-y" min-date="appointment.minLeStartDate" is-open="leStartDate"
                           ng-disabled="!appointment.geStartDate"/>
                </div>
            </div>

            <div class="col-md-2 hidden-xs"><div class="text-right search-button"><button id= "appButtonSearchDateRange" class="btn btn-info" ng-click="searchAppointments();"><i class="fa"></i> Search</button></div></div>

        </div>
        <!-- End -->

        <div class="create-button">

            <select ng-model="defaultMedication"
                    ng-change="onChange(defaultMedication)">
                <option value="" ng-repeat="(key ,value) in AllMedications"
                        ng-style="{ 'background-color': value.length >0 ? 'red' :'white'}"
                        ng-value="option" onselect="onChange()"> {{key}}</option>
            </select>
            <button class="btn btn-info" ng-click="addNewMedication()" ng-disabled="IsDisabled">Add New Medication</button>
        </div>
        <br>
        <br>
        <h4>List of current medications</h4>

        <ul>
            <li ng-repeat="medication in MedicationListList">
                {{medication.extension[0].extension[1].valueString}}
            </li>
        </ul>
        <br>
        <br>


        <div >
            <ul >
                    <li ng-repeat="allergyDetail in patientsAllergies" ng-style="styleFunction(allergyDetail)">
                    {{allergyDetail}}
                </li>
            </ul>
        </div>


    </div>
    </div>


<div class="container-fluid">
  <div class="col-md-5">
    <h3>
      <strong>Access Record Structured</strong>
    </h3>
    <br>
    <h1>Allergies</h1>
    <div class="col-md-6 hidden-xs">
      <div class="text-right create-button">
        <button class="btn btn-info" ng-click="getAllergyData();">
          <i class="fa fa-plus"></i> Request Allergy Data</button>
      </div>
    </div>
    <br>
    <br>
    <h4>Table of Active Allergies</h4>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">AssertedDate</th>
          <th scope="col">Reaction</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="object in ActiveAllergiesList">
          <td>{{object.assertedDate}}</td>
          <td>{{object.reaction[0].manifestation[0].coding[0].display}}</td>
          <td>{{object.clinicalStatus}}</td>
        </tr>
      </tbody>
    </table>



    <h4>Table of Resolved Allergies</h4>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">AssertedDate</th>
          <th scope="col">Reaction</th>
          <th scope="col">Status</th>
          <th scope="col">Resolved Date</th>
          <th scope="col">End Date</th>
          <th scope="col">End Reason</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="object in ResolvedAllergiesList">
          <td>{{object.assertedDate}}</td>
          <td>{{object.reaction[0].manifestation[0].coding[0].display}}</td>
          <td>{{object.clinicalStatus}}</td>
          <td>{{object.lastOccurrence}}</td>
          <td>{{object.extension[0].extension[0].valueDateTime}}</td>
          <td>{{object.extension[0].extension[1].valueString}}</td>
        </tr>
      </tbody>
    </table>



    <div>

      <h2>Patient</h2>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Patient Name</th>
            <th>Patient Id</th>
            <th>Patient DOB</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{patient.name}}</td>
            <td>{{patient.id}}</td>
            <td>{{patient.birthDate}}</td>
          </tr>
        </tbody>
      </table>

      <h2>Practitioner</h2>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Practitioner Name</th>
            <th>Practitioner Id</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{practitioner.name[0].family}}</td>
            <td>{{practitioner.id}}</td>
          </tr>
        </tbody>
      </table>

      <h2>Organization</h2>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Organization Name</th>
            <th>Organization Id</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{organization.name}}</td>
            <td>{{organization.id}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
