<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>

<div class="modal-body" ng-show="showMedDetail">
    Medication: {{MedicationName}}
    Type: {{medicationType}}
    Practitioner who prescribed Med: {{practitionername}}    
</div>


<div class="modal-body" ng-show="showAllergyDetail">
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">AssertedDate</th>
            <th scope="col">Reaction</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="object in ActiveAllergiesList">
            <td>{{object.assertedDate}}</td>
            <td>{{object.reaction[0].manifestation[0].coding[0].display}}</td>
        </tr>
        </tbody>
    </table>
</div>


<div class="modal-body" ng-show="showResAllergyDetail">
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">AssertedDate</th>
            <th scope="col">Reaction</th>
            <th scope="col">Status</th>
            <th scope="col">Resolved Date</th>
            <th scope="col">End Reason</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="object in ResolvedAllergiesList">
            <td>{{object.assertedDate}}</td>
            <td>{{object.reaction[0].manifestation[0].coding[0].display}}</td>
            <td>{{object.clinicalStatus}}</td>
            <td>{{object.lastOccurrence}}</td>
            <td>{{object.extension[0].extension[1].valueString}}</td>
        </tr>
        </tbody>
    </table>
</div>

