<div class="modal-header">
  <h3 class="modal-title" style="padding-bottom: 20px">Confirmation</h3>
</div>
        <div class="modal-body" style="text-align: center">
          <h3>Click <span style="color: #5cb85c">OK</span> to confirm your legitimate relationship with these
            patients and access related identifiable data.</h3>
        </div>

<div class="modal-footer">
  <a class="btn btn-danger" ng-click="cancel()">Cancel</a>
  <a class="btn btn-success" ng-click="ok()">OK</a>
</div>
