<div>
  <h3>
    <strong>Clinical Items</strong>
  </h3>

      <div class="form-inline dateRangePanel">
        <div class="form-group">
            From :
            <button type="button" class="btn btn-default btn-sm" ng-click="openDatePicker($event, 'fromDate')">
                <i class="fa fa-calendar"></i>
            </button>
            <input type="text" class="datepicker form-control input-sm popupinputs" ui-date id="fromDate" name="fromDate" ng-model="fromDateValue" ng-click="openDatePicker($event, 'fromDate')" datepicker-popup="dd-MMM-y" is-open="fromDate" defaultDate=''/>
        </div>
        <div class="form-group">
            To : 
            <button type="button" class="btn btn-default btn-sm" ng-click="openDatePicker($event, 'toDate')">
                <i class="fa fa-calendar"></i>
            </button>
            <input type="text" class="datepicker form-control input-sm popupinputs" ui-date id="toDate" name="toDate" ng-model="toDateValue" ng-click="openDatePicker($event, 'toDate')" datepicker-popup="dd-MMM-y" is-open="toDate" defaultDate=''/>
             <button type="button" id="date-button" class="btn btn-default btn-sm"  ng-click='dateChanged()'>
            Search
          </button>
        </div>
 
         
        </div>
    </div>


  <div class="providerHTMLTables">
    <div ng-bind-html="clinicalItemTable.html">
      
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <span class="patientSummary-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="clinicalSummary-spinner" spinner-start-active="true"></span>
  </div>
</div>
