$background-image-url: '../images/site-bg2.png';

$toolbar-background: #0E682F;

$tab-background: #0E682F;

$header-color: #0E682F;
$header-logo-url: '../images/ripple-icon.png';
$search-logo-url: '../images/search-ripple-logo.png';

$icon-chevron-color: #0E682F;
$icon-user-color: #82BE36;
$icon-main-nav-color: #7cbe31;
$icon-patient-landing-color: #C5E29F;

$button-info-background: #007a41;
$button-success-background: #007a41;
$button-main-nav-background-hover: #f4f8ec;

$table-header-background: #C5E29F;
$table-row-background-hover: #EDF2C3;

$panel-background: #007a41;

$link-color-hover: #7cbe31;

$rounded-connected-background: #C5E29F;
