<div ng-repeat="medicationTable in medicationTables">

  <h3>
    <strong>Medications</strong>
    <div class="glyphicon glyphicon-info-sign" tooltip="Source: {{ medicationTable.provider }}" tooltip-trigger tooltip-animation="false" tooltip-placement="right" />
  </h3>

  <div class="providerHTMLTables" >
    <div ng-bind-html="medicationTable.html"></div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <span class="patientSummary-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="medicationSummary-spinner" spinner-start-active="true"></span>
  </div>
</div>
