<h3><strong>Medication</strong></h3>

<div class="form-horizontal text-left">
    <div class="form-group form-group-sm">
      <label class="control-label col-md-12">Name</label>
      <div class="col-md-12">
        <div class="form-control-static">{{ medication.name }}</div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-3">Dose Amount</label>
      <div class="col-md-9">
        <div class="form-control-static">{{ medication.doseAmount }}</div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-12">Dose Directions</label>
      <div class="col-md-12">
        <div class="form-control-static">{{ medication.doseDirections }}</div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-3">Dose Timing</label>
      <div class="col-md-9">
        <div class="form-control-static">{{ medication.doseTiming }}</div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-3">Route</label>
      <div class="col-md-9">
        <div class="form-control-static">{{ medication.route }}</div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-3">Start Date Time</label>
      <div class="col-md-9">
        <div class="form-control-static">{{ medication.startDateTime | date:'dd-MMM-yyyy hh:mm' }}</div>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label class="control-label col-md-3">Terminology</label>
      <div class="col-md-9">
        <div class="form-control-static">{{ medication.terminology }}</div>
      </div>
    </div>
</div>

<div class="form-group form-group-sm text-right">
  <button class="btn btn-info" ng-click="edit();"><i class="fa fa-pencil"></i> Edit</button>
</div>
