<div class="transbox">
  <div class="innerTransbox">
    <h3><strong>Image Series</strong></h3>

    <div class="form-thumbnail" ng-repeat="instanceId in instanceIds track by $index">

      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
          <img class="dicomImageMini" ng-src="http://ripple-orthanc.answerappcloud.com/instances/{{instanceId}}/preview"
               ng-click="openImage(instanceId)" rp-on-load="stopSpinner('imagesDetail-spinner-' + instanceId)"/>
        </a>
        <div class="form-horizontal text-left dicomImageMetadata">
          <div ng-if="series[$index] !== undefined">
            <div class="form-group form-group-sm">
              <label class="control-label col-md-9">Modality:</label>
              <div class="col-md-9">
                <div class="form-control-static">{{ series[$index].modality }}</div>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="control-label col-md-9">Protocol Name:</label>
              <div class="col-md-9">
                <div class="form-control-static">{{ series[$index].protocolName }}</div>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="control-label col-md-9">Station Name:</label>
              <div class="col-md-9">
                <div class="form-control-static">{{ series[$index].stationName }}</div>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="control-label col-md-9">Operator Name:</label>
              <div class="col-md-9">
                <div class="form-control-static">{{ series[$index].operatorsName }}</div>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="control-label col-md-9">Series Date:</label>
              <div class="col-md-9">
                <div class="form-control-static">{{ series[$index].seriesDate }}</div>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="control-label col-md-9">Series Time:</label>
              <div class="col-md-9">
                <div class="form-control-static">{{ series[$index].seriesTime }}</div>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label class="control-label col-md-9">Series No:</label>
              <div class="col-md-9">
                <div class="form-control-static">{{ series[$index].seriesNumber }}</div>
              </div>
            </div>
          </div>
        </div>

        <span class="dicomImage-spinner" us-spinner="{radius: 20, width: 8, length: 16}"
              spinner-key="{{'imagesDetail-spinner-' + instanceId}}" spinner-start-active="true"></span>
      </div>
    </div>
  </div>
</div>
