<div class="panel panel-default panel-patient">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-5">
        <h4 class="panel-title">{{ patient.name[0].prefix[0] }} {{ patient.name[0].given[0] }} {{ patient.name[0].family[0] }}</h4>
      </div>
      <div class="col-md-7 text-right">
        <ul class="list-inline">
          <li><label>Gender:</label> <strong>{{ patient.gender | uppercase }}</strong></li>
          <li><label>DOB:</label>  <strong>{{ patient.birthDate | date:'dd-MMM-yyyy' }}</strong></li>
          <li class="nhsLabel"><label>NHS No.:</label> <strong><span ng-bind="patientNhsNumber | formatNHSNumber"></span></strong></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr>
          <td width="40%"><label>Address:</label>  <strong>{{ patient.address[0].line[0] + ", " + 
                      patient.address[0].line[1] + ", " + 
                      patient.address[0].line[2] + ", " + 
                      patient.address[0].town + ", " + 
                      patient.address[0].district +", " + 
                      patient.address[0].postalCode}}</strong></td>
          <td width="20%"><label>Phone:</label> <strong>{{ patient.telecom[0].value }}</strong></td>
          <td width="20%"><label>GP Details:</label> <strong>{{ patient.generalPractitioner[0].display }}</strong></td>
          <td width="20%"><label>PAS No.:</label> <strong>{{ patientLocalIdentifier }}</strong></td>
        </tr>
      </tbody>
  </table>
</div>
</div>
