<li class="navigation-menu">
  <a ng-click="goTo('summary')">Patient Summary</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('appointments')">Appointments</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('encounters')">Encounters (Journal)</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('clinicalitems')">Clinical Items</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('problem')">Problems</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('allergies')">Allergies</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('medications')">Medications</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('referrals')">Referrals</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('observations')">Observations</a>
</li>

<!--  to be removed at 0.5.1 -->
<li class="navigation-menu">
  <a ng-click="goTo('investigations')">Investigations</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('immunisations')">Immunisations</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('adminitems')">Administrative Items</a>
</li>

