<div class="row">

  <!-- START Main Content Area -->
  <div class="main col-sm-12 col-md-12 patient-dashboard opaque-bg">
      <div class="row">
       <div class="col-md-12">
        <span class="patientSummary-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="patientSummary-spinner" spinner-start-active="true"></span>
      </div>
      </div>
    <!-- START Patient Dashboard -->
    <div class="dashboard row">
      <!-- START Board
                        Note: Make sure the 4th board always does a clear left
                        Note: In our design, all boards have 5 rows, so the board below
                            (which might only have 2 records, would still output 5 rows - 3 would be blank.
                            We've also set a height on each TD of 37px so that blank cells are the same / similar height,
                            which will stretch if there's more content
                    -->
      <div class="board problems col-md-4">
        <h2><a ng-click="goToSection('Problems')"><i class="fa fa-stethoscope"></i> Problems</a>
          <span class="resultcount" ng-if="diagnosesCount == 0">0 of 0</span>
          <span class="resultcount" ng-if="diagnosesCount > 0 && diagnosesCount < 5">{{diagnosesCount}} of {{diagnosesCount}}</span>
          <span class="resultcount" ng-if="diagnosesCount > 0 && diagnosesCount >= 5">5 of {{diagnosesCount}}</span>
          <a ng-href="#/patients/{{patient.id}}/diagnoses" class="resultcount" ng-if="diagnosesCount > 0" style="padding-right: 10px;">View All</a>
        </h2>

        <table class="table table-striped clickable">
          <tbody>
            <tr ng-repeat="diagnosis in diagnoses" data-target="patient-detail.html">
              <!--data target-->
              <td ng-click="go('/patients/{{patient.id}}/diagnoses/{{diagnosis.sourceId}}')">{{ diagnosis.text }} <span class="glyphicon glyphicon-chevron-right"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- END Board -->

      <div class="board problems col-md-4">
        <h2><a ng-click="goToSection('Allergies')"><i class="fi-flag"></i> Allergies</a>
          <span class="resultcount" ng-if="allergiesCount == 0">0 of 0</span>
          <span class="resultcount" ng-if="allergiesCount > 0 && allergiesCount < 5">{{allergiesCount}} of {{allergiesCount}}</span>
          <span class="resultcount" ng-if="allergiesCount > 0 && allergiesCount >= 5">5 of {{allergiesCount}}</span>
          <a ui-sref="allergies({patientId: patient.id})" class="resultcount" ng-if="allergiesCount > 0" style="padding-right: 10px;">View All</a>
        </h2>

        <table class="table table-striped clickable">
          <tbody>
            <tr ng-repeat="allergy in allergies">
              <td ng-click="go('/patients/{{patient.id}}/allergies/{{allergy.sourceId}}')">{{allergy.text}}<span class="glyphicon glyphicon-chevron-right"></span> </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="board problems col-md-4">
        <h2><a ng-click="goToSection('Medications')"><i class="fi-clipboard-pencil"></i> Medications</a>
          <span class="resultcount" ng-if="medicationsCount == 0">0 of 0</span>
          <span class="resultcount" ng-if="medicationsCount > 0 && medicationsCount < 5">{{medicationsCount}} of {{medicationsCount}}</span>
          <span class="resultcount" ng-if="medicationsCount > 0 && medicationsCount >= 5">5 of {{medicationsCount}}</span>
          <a ui-sref="medications({patientId: patient.id})" class="resultcount" ng-if="medicationsCount > 0" style="padding-right: 10px;">View All</a>
        </h2>

        <table class="table table-striped clickable">
          <tbody>
            <tr ng-repeat="medication in medications">
              <td ng-click="go('/patients/{{patient.id}}/medications/{{medication.sourceId}}')"> {{ medication.text }}<span class="glyphicon glyphicon-chevron-right"></span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="board problems col-md-4">
        <h2><a ng-click="goToSection('Contacts')"><i class="fi-torsos-all"></i> Contacts</a>
          <span class="resultcount" ng-if="contactsCount == 0">0 of 0</span>
          <span class="resultcount" ng-if="contactsCount > 0 && contactsCount < 5">{{contactsCount}} of {{contactsCount}}</span>
          <span class="resultcount" ng-if="contactsCount > 0 && contactsCount >= 5">5 of {{contactsCount}}</span>
          <a ui-sref="contacts({patientId: patient.id})" class="resultcount" ng-if="contactsCount > 0" style="padding-right: 10px;">View All</a>
        </h2>

        <table class="table table-striped clickable">
          <tbody>
            <tr ng-repeat="contact in contacts">
              <td ng-click="go('/patients/{{patient.id}}/contacts/{{contact.sourceId}}')"> {{ contact.text }} <span class="glyphicon glyphicon-chevron-right"></span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="board problems col-md-4">
        <h2><a ng-click="goToSection('Transfer')"><i class="fa fa-ambulance"></i> Transfer of Care</a>
          <span class="resultcount" ng-if="transferofCaresCount == 0">0 of 0</span>
          <span class="resultcount" ng-if="transferofCaresCount > 0 && transferofCaresCount < 5">{{transferofCaresCount}} of {{transferofCaresCount}}</span>
          <span class="resultcount" ng-if="transferofCaresCount > 0 && transferofCaresCount >= 5">5 of {{transferofCaresCount}}</span>
          <a ui-sref="transferOfCare({patientId: patient.id})" class="resultcount" ng-if="transferofCaresCount > 0" style="padding-right: 10px;">View All</a>
        </h2>

        <table class="table table-striped clickable">
          <tbody>
            <tr ng-repeat="transfer in transferofCareComposition">
              <td ng-click="go('/patients/{{patient.id}}/transfer-of-care-detail/{{transfer.sourceId}}')">
                <span class="glyphicon glyphicon-chevron-right"></span> From {{transfer.from}}
                <br> to {{transfer.to}}
                <br> {{transfer.dateOfTransfer | date:'dd-MMM-y' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- END Patient Dashboard -->
  </div>
  <!-- END Main Content Area -->

</div>
