<div class="row">

  <!-- START Main Content Area -->
  <div class="main col-sm-12 col-md-12 patient-dashboard opaque-bg">



    <!-- START Patient Dashboard -->
    <div class="dashboard row">


      <!-- START Board
                        Note: Make sure the 4th board always does a clear left
                        Note: In our design, all boards have 5 rows, so the board below
                            (which might only have 2 records, would still output 5 rows - 3 would be blank.
                            We've also set a height on each TD of 37px so that blank cells are the same / similar height,
                            which will stretch if there's more content
                    -->
      <div class="board problems col-md-4">

        <h2><a href=""><i class="fa fa-stethoscope"></i> Problems</a> <span class="resultcount">5 of 8</span></h2>

        <table class="table table-striped clickable">
          <tbody>
          <tr data-target="patient-detail.html">
            <td>Hay Fever</td>
          </tr>
          <tr data-target="patient-detail.html">
            <td>Homeless Single Person</td>
          </tr>
          <tr data-target="patient-detail.html">
            <td>Hay Fever</td>
          </tr>
          <tr data-target="patient-detail.html">
            <td>Homeless Single Person</td>
          </tr>
          <tr data-target="patient-detail.html">
            <td>Hay Fever</td>
          </tr>
          </tbody>
        </table>

      </div>
      <!-- END Board -->


      <div class="board problems col-md-4">

        <h2><a href=""><i class="fi-flag"></i> Allergies</a> <span class="resultcount">4 of 4</span></h2>

        <table class="table table-striped clickable">
          <tbody>
          <tr>
            <td>Allergy to penicillin</td>
          </tr>
          <tr>
            <td>Nut Allergy</td>
          </tr>
          <tr>
            <td>Allergy to penicillin</td>
          </tr>
          <tr>
            <td>Nut Allergy</td>
          </tr>
          <tr>
            <td></td>
          </tr>
          </tbody>
        </table>

      </div>


      <div class="board problems col-md-4">

        <h2><a href=""><i class="fi-clipboard-pencil"></i> Medications</a> <span class="resultcount">3 of 3</span></h2>

        <table class="table table-striped clickable">
          <tbody>
          <tr>
            <td>Atorvastatin</td>
          </tr>
          <tr>
            <td>Salbutamol</td>
          </tr>
          <tr>
            <td>Atorvastatin</td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          </tbody>
        </table>

      </div>


      <div class="board problems col-md-4">

        <h2><a href=""><i class="fi-torsos-all"></i> Contacts</a> <span class="resultcount">2 of 2</span></h2>

        <table class="table table-striped clickable">
          <tbody>
          <tr>
            <td>Joanne Smith</td>
          </tr>
          <tr>
            <td>Sheila Nisbett</td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          </tbody>
        </table>

      </div>


      <div class="board problems col-md-4">

        <h2><a href=""><i class="fa fa-ambulance"></i> Transfer of Care</a> <span class="resultcount">5 of 26</span></h2>

        <table class="table table-striped clickable">
          <tbody>
          <tr>
            <td>From WHCNT to KCH, 17/04/2015</td>
          </tr>
          <tr>
            <td>From KCH to NTH, 10/04/2015</td>
          </tr>
          <tr>
            <td>From WHCNT to KCH, 17/04/2015</td>
          </tr>
          <tr>
            <td>From KCH to NTH, 10/04/2015</td>
          </tr>
          <tr>
            <td>From WHCNT to KCH, 17/04/2015</td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>
    <!-- END Patient Dashboard -->


  </div>
  <!-- END Main Content Area -->



</div>


