<li>
  <a ng-href="#/patients/summary"><i class="fa fa-bed fa-fw"></i> Patient Summary</a>
</li>

<li>
    <a ng-href="#/patients/{{patient.id}}/diagnoses"><i class="fa fa-stethoscope fa-fw"></i> Problems</a>
</li>

<li>
    <a ui-sref="allergies({patientId: patient.id})"><i class="fa fa-user-times fa-fw"></i> Allergies</a>
</li>

<li>
    <a ui-sref="medications({patientId: patient.id})"><i class="fa fa-medkit fa-fw"></i> Medications</a>
</li>

<li>
    <a ui-sref="contacts({patientId: patient.id})"><i class="fa fa-users fa-fw"></i> Contacts</a>
</li>

<li>
    <a ui-sref="transferOfCare({patientId: patient.id})"><i class="fa fa-hospital-o"></i> Transfer of Care</a>
</li>
