<div class="panel panel-default panel-patient">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <h4 class="panel-title">{{ patient.fullname() }}</h4>
      </div>
      <div class="col-md-6 text-right">
        <ul class="list-inline">
          <li><label>Born:</label>  <strong>{{ patient.born | date:'dd-MMM-yyyy' }}</strong></li>
          <li><label>Gender:</label> <strong>{{ patient.gender }}</strong></li>
          <li><label>NHS No.:</label> <strong>{{ patient.nhsNo }}</strong></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr>
          <td><label>Address:</label>  <strong>{{ patient.address }}</strong></td>
          <td><label>Phone:</label> <strong>{{ patient.phone }}</strong></td>
          <td><label>GP Details:</label> <strong>{{ patient.gpDetails }}</strong></td>
          <td><label>PAS No.:</label> <strong>{{ patient.pasNo }}</strong></td>
          <td><i class="fa fa-exclamation-triangle text-warning"></i> <label>Allergies not recorded</label></td>
        </tr>
      </tbody>
    </ul>
  </div>
</div>
