<li class="navigation-menu">
  <a ng-click="goTo('summary')">Patient Summary</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('encounters')">Encounters</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('problem')">Problems</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('allergies')">Allergies</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('medications')">Medications</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('referrals')">Referrals</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('procedures')">Procedures</a>
</li>

<li class="navigation-menu">
  <a ng-click="goTo('observations')">Observations <br />& Investigations</a>
</li>
