<!-- START Main Content Area -->

<div class ="row">

  <!-- START Charts -->
  <div class="col-md-9 col-sm-12 chart-inner">

      <div class="row">

        <div class ="col-md-6">
          <!-- Chart Age -->
               <span class="fa-stack fa-lg pull-left chart-fa-stack">
                        <i class="fa fa-circle fa-stack-2x cake-icon"></i>
                        <i class="fa fa-birthday-cake fa-stack-1x fa-inverse"></i>
               </span>
              <div class="pull-left chart-title-group">
                <h2 class="chart-title">Patients by <span class="chart-title-age">Age</span></h2>
                <span class="chart-description">This is a brief description of patients by age.</span>
              </div>

          <div id="age-chart" style="margin-top: 120px;"></div>
        </div>

        <div class ="col-md-6">
            <!-- Chart Setting -->
               <span class="fa-stack fa-lg pull-left chart-fa-stack">
                        <i class="fa fa-circle fa-stack-2x map-marker-icon"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
               </span>
              <div class="pull-left chart-title-group">
                <h2 class="chart-title">Patients by <span class="chart-title-setting">Setting</span></h2>
                <span class="chart-description">This is a brief description of patients by setting.</span>
              </div>
              <div id="department-chart" style="margin-top: 140px;"></div>
        </div>

      </div>

 </div>

  <!-- END Charts -->

  <!-- START Main Nav -->
  <div class="col-md-3  text-center main-nav">

    <a href="#/patients" class="button viewall">
      <i class="fi-results-demographics"></i><br/>
      View all Patients
    </a>

    <a href="#/lookup" class="button spine">
      <i class="fi-magnifying-glass"></i><br/>
      Spine Lookup
    </a>

  </div>
  <!-- END Main Nav -->

</div>
<!-- END Main Content Area -->











