<div class="row">

    <div id='patientSummary'>
        <h3><strong>Patient Summary</strong></h3>

        <div class="providerHTMLTables" ng-repeat="patientSummary in patientSummaries">
          <h4><strong>{{ patientSummary.provider }}</strong></h4>
          <div ng-bind-html="patientSummary.html">
          </div>
        </div>
    </div>
    
  <!-- START Main Content Area -->
  <div class="main col-sm-12 col-md-12 patient-dashboard opaque-bg">
      <div class="row">
       <div class="col-md-12">
        <span class="patientSummary-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="patientSummary-spinner" spinner-start-active="true"></span>
      </div>
      </div>
  </div>
  <!-- END Main Content Area -->

</div>
