<h3><strong>Procedure</strong></h3>

   <div class="form-horizontal text-left">
    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Procedure Name:</label>
      <div class="col-md-8">
        <div class="form-control-static">{{ procedure.procedureName }}</div>
      </div>
    </div>
    </div>

   <div class="form-horizontal text-left">
    <div class="form-group form-group-sm">
      <label class="control-label col-md-12">Description:</label>
      <div class="col-md-12">
        <div class="form-control-static">{{ procedure.procedureNotes  }}</div>
      </div>
    </div>
 </div>
               
    <div class="form-horizontal text-left">
    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Date of Procedure:</label>
      <div class="col-md-8">
        <div class="form-control-static">{{ procedure.dateOfProcedure }}</div>
      </div>
    </div>        
    </div>   
               
    <div class="form-horizontal text-left">
    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Terminology:</label>
      <div class="col-md-8">
        <div class="form-control-static">{{ procedure.terminology }}</div>
      </div>
    </div>        
    </div>   
                   
    <div class="form-horizontal text-left">
    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Code:</label>
      <div class="col-md-8">
        <div class="form-control-static">{{ procedure.code }}</div>
      </div>
    </div>        
    </div>  
                   
    <div class="form-horizontal text-left">
    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Procedure Performed By:</label>
      <div class="col-md-8">
        <div class="form-control-static">{{ procedure.performer }}</div>
      </div>
    </div>        
    </div>  

    <div class="form-horizontal text-left">
    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Author:</label>
      <div class="col-md-8">
        <div class="form-control-static">{{ procedure.author }}</div>
      </div>
    </div>        
    </div> 

    <div class="form-horizontal text-left">
    <div class="form-group form-group-sm">
      <label class="control-label col-md-4">Date Created:</label>
      <div class="col-md-8">
        <div class="form-control-static">{{ procedure.dateSubmitted }}</div>
      </div>
    </div>        
    </div> 

<div class="form-group form-group-sm text-right">
  <button class="btn btn-info" ng-click="edit();"><i class="fa fa-pencil"></i> Edit</button>
</div>