<h3><strong>Procedures</strong></h3>

<div class="inner-addon left-addon filterInput">
  <i class="fa fa-filter"></i>
  <input type="text" class="form-control" placeholder="Filter..." ng-model="query" />
</div>

<div class="scrollcontainer1">
  <div ng-class="!procedures.length?  'scrollcontainer2Empty' :  'scrollcontainer2' ">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Procedure Name</th>
          <th>Procedure Date</th>
          <th>Time</th>
          <th>Source</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="procedure in procedures | filter:search" ng-click="go('{{procedure.sourceId}}')" ng-class="{info: selected(procedure.sourceId)}">
          <td>{{procedure.name}}</td>
          <td class="dateTime">{{procedure.date}}</td>
          <td>{{procedure.time}}</td>
          <td>{{procedure.source}}</td>
        </tr>
        <tr ng-if="!procedures.length">
          <td colspan="4"><span class="label label-default">No procedures</span></td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-12">
        <span class="patientSummary-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="patientSummary-spinner" spinner-start-active="true"></span>
      </div>
    </div>

    <div class="text-right">
      <button class="btn btn-info" ng-click="create();"><i class="fa fa-plus"></i> Create</button>
    </div>
  </div>
</div>
