<div class="main-search">
  <img class="search-logo"/>

  <br/>

  <div class="search-left-inner-addon">
    <input class="form-control" placeholder="Enter NHS Number..." type="text" ng-model="searchExpression"/>
    <div class="pull-right">
      <a ng-click="openAdvancedSearch()">Advanced search</a>
    </div>
  </div>

  <button class="btn btn-info mainSearchButton" ng-click="searchFunction(searchExpression)"><i class="fa fa-search"></i> Search</button>

  <div class="no-patient-found-error">
    <label ng-if="errorOccurred" class="alert alert-danger">We couldn't find a patient corresponding to that NHS Number</label>
  </div>
</div>
