<div class="col-md-12 searchPagePanel">

    <div id="testingConfigHeader" class="col-md-12"  ng-click="isTestingConfigBodyOpen = !isTestingConfigBodyOpen">
        <i class="fa fa-chevron-down"></i> Demonstrator - Testing Configuration
    </div>
    <div id="testingConfigBody" class="col-md-12" ng-show="isTestingConfigBodyOpen">

        <div class="col-md-12 testConfigHeader">
            Supplier Endpoint Configuration
        </div>

        <div class="col-md-12 testConfigField">
            <label class="col-md-2" for="testingPracticeODSCode">Practice ODS Code : </label>
            <input class="col-md-2" type="text" id="testingPracticeODSCode" ng-model="testingPracticeODSCode" >
        </div>

        <div class="col-md-12 testConfigField">
            <label class="col-md-2" for="testingFhirUrl">FHIR Base URL : </label>
            <input class="col-md-4" type="text" id="testingFhirUrl" ng-model="testingFhirUrl" >
            <div class="col-md-6">(The target ODS Code will be used in priority to this target URL if both are supplied)</div>
        </div>


        <div class="col-md-12 testConfigHeader">
            Request Meta Data - Configurable HTTP Headers
        </div>

        <div class="col-md-12 testConfigField">
            <label class="col-md-2" for="fromASID">Ssp-From : </label>
            <input class="col-md-2" type="text" id="fromASID" ng-model="fromASID" >
        </div>

        <div class="col-md-12 testConfigField">
            <label class="col-md-2" for="toASID">Ssp-To : </label>
            <input class="col-md-2" type="text" id="toASID" ng-model="toASID" >
        </div>


        <div class="col-md-12 testConfigHeader">
            Request Meta Data - JSON Web Token Elements
        </div>

        <div class="col-md-12 testConfigField">
            <label class="col-md-2" for="iss">iss</label>
            <label class="col-md-4">(Requesting systems URI) : </label>
            <input class="col-md-5" type="text" id="iss" ng-model="jwtIss" placeholder='http://gpconnect-uat.answerappcloud.com'>
        </div>

        <div class="col-md-12 testConfigField">
            <label class="col-md-2" for="sub">sub</label>
            <label class="col-md-4">(practitioner local ID, matches requesting_practitioner.id) : </label>
            <input class="col-md-2" type="text" id="sub" ng-model="jwtSub" placeholder='1'>
        </div>

        <div class="col-md-12 testConfigField">
            <label class="col-md-2" for="requesting_practitioner">requesting_practitioner</label>
            <label class="col-md-4">(FHIR resource, Practitioner making request) : </label>
            <input class="col-md-5" type="text" id="requesting_practitioner" ng-model="jwtRequesting_practitioner" placeholder='{ "resourceType": "Practitioner", "id": "1", "identifier": [{ "system": "https://fhir.nhs.uk/Id/sds-user-id", "value": "G13579135" }, { "system": "localSystem", "value": "1" }], "name": [{ "family": ["Demonstrator"], "given": ["GPConnect"], "prefix": ["Mr"] }] }'>
        </div>

        <div class="col-md-12 testConfigField">
            <label class="col-md-2" for="requesting_organization">requesting_organization</label>
            <label class="col-md-4">(FHIR resource, Organisation making request) : </label>
            <input class="col-md-5" type="text" id="requesting_organization" ng-model="jwtRequesting_organization" placeholder='{ "resourceType": "Organization", "id": "1", "identifier": [{ "system": "https://fhir.nhs.uk/Id/ods-organization-code", "value": "[ODSCode]" }]}'>
        </div>

        <div class="col-md-12 testConfigField">
            <label class="col-md-2" for="requesting_device">requesting_device</label>
            <label class="col-md-4">(FHIR resource, device making request) : </label>
            <input class="col-md-5" type="text" id="requesting_device" ng-model="jwtRequesting_device" placeholder='{ "resourceType": "Device", "id": "1", "identifier": [{ "system": "Web Interface", "value": "GP Connect Demonstrator" }],"type": {"coding": [{"system": "DeviceIdentifierSystem","code": "DeviceIdentifier"}]},"model": "v1","version": "1.1" }'>
        </div>

        <div class="col-md-12 testConfigField">
            <label class="col-md-2" for="reason_for_request">reason_for_request</label>
            <label class="col-md-4">(Purpose for which access is being requested) : </label>
            <input class="col-md-4" type="text" id="reason_for_request" ng-model="jwtReason_for_request" placeholder="directcare">
        </div>


        <button class="btn btn-success configSaveButton" ng-click="saveTestingConfig()"  ng-blur="btnReset()" >{{saveBtnText}}</button>
    </div>

	<div id="versionBanner" class="col-md-12 versionBanner">
    
    <h4>This is a demonstrator of the <b><a class="versionLink" href="https://developer.nhs.uk/apis/gpconnect-1-1-0/">GP Connect 1.1.0</a></b> specification (based on the FHIR STU3 standard).</h4>
    <p>What next?</p>
    <ul>
        <li class="versionList" >Choose a test patient below and click `search` to see what functionality GP Connect can enable within a consumer, using our demonstrator consumer</li>
        <li class="versionList" >For a view of the GP Connect API's served up by the provider side of the demonstrator instance, have a look at the <a  class="versionLink" href="http://ec2-54-194-109-184.eu-west-1.compute.amazonaws.com/gpconnect-1-0-0.html">Swagger definition</a> attached to this demonstrator</li>
    </ul>
    <p/>
    <p>A version of the <a class="versionLink" href="http://ec2-54-194-109-184.eu-west-1.compute.amazonaws.com:380">GP Connect demonstrator</a> also exists for the <b><a class="versionLink" href="https://developer.nhs.uk/apis/gpconnect-0-5-0/">GP Connect 0.5.0</a></b> version of the specification which is the current specification for `Access Record HTML` (based on the FHIR DSTU2 standard).</p>
    
</div>

</div>

<div class="col-md-12">
    <div class="main-search">
        <div class="search-left-inner-addon">
            <input class="form-control" placeholder="Enter NHS Number..." type="text" ng-model="searchExpression"/>
            <div class="pull-right">
                <a ng-click="openAdvancedSearch()">Advanced search</a>
            </div>
        </div>

        <button class="btn btn-info mainSearchButton" ng-click="searchFunction(searchExpression)"><i class="fa fa-search"></i> Search</button>

        <div class="alert alert-danger alert-dismissible fade in no-patient-found-error" role="alert" ng-if="errorOccurred">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" ng-click="setErrorOccurred(false)">×</span>
            </button>
            <h4>We couldn't find a patient corresponding to that NHS Number</h4>
        </div>

        <div class="alert alert-danger alert-dismissible fade in no-patient-found-error" role="alert">
            <h6>If you are unsure about which NHS Numbers work, why not try one of the ones below:</h6>
            <p>
                <button type="button" class="btn btn-default" ng-click="populateSearchField('947 671 9931')">{{ '9476719931' | formatNHSNumber}}</button>
                <button type="button" class="btn btn-default" ng-click="populateSearchField('947 671 9974')">{{ '9476719974' | formatNHSNumber}}</button>
                <button type="button" class="btn btn-default" ng-click="populateSearchField('947 671 9966')">{{ '9476719966' | formatNHSNumber}}</button>
                <button type="button" class="btn btn-default" ng-click="populateSearchField('947 671 9958')">{{ '9476719958' | formatNHSNumber}}</button>
                <button type="button" class="btn btn-default" ng-click="populateSearchField('900 000 0068')">{{ '9000000068' | formatNHSNumber }}</button>
            </p>
        </div>

    </div>
</div>

<span class="search-spinner" us-spinner="{radius:20, width:8, length: 16}" spinner-key="search-spinner" spinner-start-active="false"></span>
