<div class="main-search">
  <div class="search-left-inner-addon">
    <input class="form-control" placeholder="Enter NHS Number..." type="text" ng-model="searchExpression"/>
    <div class="pull-right">
      <a ng-click="openAdvancedSearch()">Advanced search</a>
    </div>
  </div>

  <button class="btn btn-info mainSearchButton" ng-click="searchFunction(searchExpression)"><i class="fa fa-search"></i> Search</button>

  <div class="alert alert-danger alert-dismissible fade in no-patient-found-error" role="alert" ng-if="errorOccurred">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" ng-click="setErrorOccurred(false)">×</span>
    </button>
    <h4>We couldn't find a patient corresponding to that NHS Number</h4>
  </div>

  <div class="alert alert-danger alert-dismissible fade in no-patient-found-error" role="alert">
    <h6>If you are unsure about which NHS Numbers work, why not try one of the ones below:</h6>
    <p>
      <button type="button" class="btn btn-default" ng-click="populateSearchField('900 000 0033')">{{ '9000000033 (TPP)' | formatNHSNumber }}</button>
      <button type="button" class="btn btn-default" ng-click="populateSearchField('900 000 0009')">{{ '9000000009 (Microtest)' | formatNHSNumber }}</button>
      <button type="button" class="btn btn-default" ng-click="populateSearchField('900 000 0041')">{{ '9000000041 (INPS)' | formatNHSNumber }}</button>
      <button type="button" class="btn btn-default" ng-click="populateSearchField('900 000 0084')">{{ '9000000084' | formatNHSNumber }}</button>
    </p>
  </div>
</div>
