<!-- START Main Content Area -->
<div class="patients-list-context">
  <div ng-show="resultSize == 0" ng-cloak class="ng-cloak">
    <div class="col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6">
      <div ng-cloak class="no-results ng-cloak" ng-bind="noResults"></div>
    </div>
  </div>
  <div class="row reportChartRow">
    <!-- START Charts -->
    <div class="col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6 chart-inner">

      <!-- Age Chart -->
      <div class="chart age" id="age" ng-class="{hoverChart: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
        <div class="chart-title-group-container hidden-xs">
          <div class="pull-left chart-title-group">
            <h2 class="chart-title">Reports: {{reportType}}: {{searchString}}</h2>
            <p class="chart-description">Showing patients by age with {{searchString}}</p>
          </div>
        </div>
        <br>
        <br>
        <div class="chart-title-group-container">
          <div class="pull-left chart-title-group-mobile visible-xs">
            <h2 class="chart-title">Patients by <span class="chart-title-age">Age</span></h2>
            <p class="chart-description visible-xs">This is a brief description of patients by age.</p>
          </div>
        </div>

        <div id="age-chart"></div>

      </div>
      <!-- END Age Chart -->
    </div>
    <!-- END Charts -->
  </div>
  <!-- END Main Content Area -->
</div>
